<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <title>Shore24 Gitam | Fest pass</title>
    <style>
      body {
        background-color: rgb(255, 255, 255);
      }
      .title {
        font-size: 40px;
        font-family: Helvetica;
        font-weight: 700;
        color: rgb(0, 0, 0);
        text-align: center;
        text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3499999940395355);
      }
      .form-title {
        font-size: 20px;
        font-family: Helvetica;
        font-weight: 700;
        color: rgb(0, 0, 0);
        margin-bottom: 1rem;
        text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3499999940395355);
      }
      body::-webkit-scrollbar {
        display: none;
      }
      body {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .preview-container {
        margin-top: 10px;
      }

      .preview-image {
        max-width: 100%;
        max-height: 200px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body style="background: linear-gradient(to bottom right, #06399d, #9a1525, #153477);">
    {% include 'preshorebase.html' %}
    <div class="h-screen flex items-center justify-center">
      <div
        style="height: 40rem;background:rgba(40, 40, 40, 0.543) ; margin:0.5rem"
        class="overflow-y-scroll container mx-auto max-w-2xl p-6 border border-gray-200 rounded-lg shadow-lg"
      >
        {% if messages %}
        {% for message in messages %}
        <div class="p-4 mb-4 text-sm rounded-lg {% if message.tags == 'info' %}text-blue-800 bg-blue-50{% elif message.tags == 'error' %}text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400{% elif message.tags == 'success' %}text-green-800 bg-green-50{% endif %}"
            role="alert">
            <span class="font-medium">{{ message.tags.capitalize }}</span> : {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h1 class="text-center title font-bold mb-5 text-gray-900 dark:text-white">NOC and Travel Tickets Upload form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Full Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter name"
                required
              />
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >College/University Email(should be same as that given while Registration)</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter email"
                required
              />
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="phone_number"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Contact Number</label
              >
              <input
                type="tel"
                id="phone_number"
                name="phone_number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter Contact number"
                required
              />
            </div>
            <div>
              <label
                for="regno"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >College/University Registration Number</label
              >
              <input
                type="text"
                id="regno"
                name="regno"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter Registration Number"
                required
              />
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label
                  for="gender"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Gender</label
                >
                <select
                  id="gender"
                  name="gender"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                >
                  <option value="" disabled selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Others</option>
                </select>
              </div>
            <div>
              <label
                for="yearofstudy"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Select Year of Study</label
              >
              <select
                id="yearofstudy"
                name="yearofstudy"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Year of Study</option>
                <option value="First year">1st Year</option>
                <option value="Second year">2nd Year</option>
                <option value="Third year">3rd Year</option>
                <option value="Forth year">4th Year</option>
                <option value="Fifth year">5th Year</option>
                <option value="Sixth year">6th Year</option>
                <option value="Alumni">Alumni</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="branch"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Branch</label
              >
              <input
                type="text"
                id="branch"
                name="branch"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter Branch Name(eg: CSE)"
                required
              />
            </div>
            <div>
              <label
                for="Institute"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Institute</label
              >
              <input
                type="text"
                id="institute"
                name="institute"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="(eg:Gitam school of technology)"
                required
              />
            </div>
          </div>

          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="Department"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Department</label
              >
              <input
                type="text"
                id="Department"
                name="Department"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="(eg: Engineering )"
                required
              />
            </div>
            <div>
              <label
                for="campus"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Select College</label
              >
              <select
                id="campus"
                name="campus"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Select</option>
                <option value="Gitam Vizag">GITAM Vizag</option>
                <option value="Gitam Hyderabad">GITAM Hyderabad</option>
                <option value="Gitam Benguluru">GITAM Benguluru</option>
                {% for college in colleges %}
                  <option value="{{ college.name }}">{{ college.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-6">
            <div>
              <label
                for="hosteler"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Are you Hosteler</label
              >
              <select
                id="hosteler"
                name="hosteler"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Select</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
                <option value="Non-Gitam">Non-Gitam</option>
              </select>
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label
                  for="eventtype"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Event Type</label
                >
                <select
                  id="eventtype"
                  name="eventtype"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="Cultural">Cultural</option>
                  <option value="Sports">Sports</option>
                  <option value="Technical">Technical</option>
                  <option value="DOS/DOSL">DOS/DOSL</option>
                </select>
            </div>
            <div>
              <label
                for="eventname"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Event name</label
              >
              <select
                  id="eventname"
                  name="eventname"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  {% for event in events %}
                    <option value="{{ event.name }}">{{ event.name }}</option>
                  {% endfor %}
                  {% for hackathon in hackathons %}
                    <option value="{{ hackathon.name }}">{{ hackathon.name }}</option>
                  {% endfor %}
                  <option value="SLA">Student Life Associate</option>
                  <option value="SSA">Student Sports Associate</option>
                  <option value="SLA_staff">Student Life Staff</option>
                  <option value="SSA_staff">Student Sports Staff</option>
                </select>
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="teamname"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Team name(Given during Registration)</label
                >
                <input
                  type="text"
                  id="teamname"
                  name="teamname"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter Team name"
                  required
                />
              </div>
            <div>
                <label
                  for="tshirt"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >T shirt size</label
                >
                <select
                  id="tshirt"
                  name="tshirt"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                  <option value="Other">Other</option>
                </select>
            </div>
          </div>
          <div class="mb-6">
            <!-- upload noc in pdf format -->
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="noc_file_input"
              >Upload NOC in PDF format</label
            >
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  
              aria-describedby="file_input_help"
              id="noc_file_input"
              name="noc_file_input"
              type="file"
              accept="application/pdf"
              required
            />
            <p
              class="mt-1 text-sm text-gray-500 dark:text-gray-300"
              id="file_input_help"
            >
              PDF (MAX. 2MB).
            </p>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="accomodation"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Have you opted for accomodation?</label
              >
              <select
                id="accomodation"
                name="accomodation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Select</option>
                <option value="NO">No</option>
                <option value="YES">Yes</option>
              </select>
            </div>
            <div>
              <label
                for="travelling"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Are you travelling to GITAM Vizag?</label
              >
              <select onchange="showDiv('tickets', this)"
                id="travelling"
                name="travelling"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
                <option value="" disabled selected>Select</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
          </div>
          <div class="tickets" id="tickets" style="display: none;">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                  <label for="departure" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Departure place
                  </label>
                  <input
                      type="text"
                      id="departure"
                      name="departure"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Departure Place"
                      required
                  />
              </div>
              <div>
                  <label for="arrival" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Arrival Place
                  </label>
                  <input
                      type="text"
                      id="arrival"
                      name="arrival"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Arrival Place"
                      required
                  />
              </div>
            </div>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                  <label for="departureDatetime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Departure Datetime
                  </label>
                  <input
                      type="datetime-local"
                      id="departureDatetime"
                      name="departureDatetime"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Select Departure Datetime"
                      required
                  />
              </div>
              <div>
                  <label for="arrivalDatetime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Arrival Datetime
                  </label>
                  <input
                      type="datetime-local"
                      id="arrivalDatetime"
                      name="arrivalDatetime"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Select Arrival Datetime"
                      required
                  />
              </div>
            </div>
            <div class="mb-6">
              <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="ticket_file_input"
                >Upload your Travel tickets in PDF format</label
              >
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                aria-describedby="file_input_help"
                id="ticket_file_input"
                name="ticket_file_input"
                type="file"
                accept="application/pdf"
                required
              />
              <p
                class="mt-1 text-sm text-gray-500 dark:text-gray-300"
                id="file_input_help"
              >
                PDF (MAX. 2MB).
              </p>
            </div>
          </div>
          <div class="mb-6">
            <div
              class="preview-container"
              id="previewContainer"
              style="display: none"
            >
              <h2 
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Preview</h2>
              <img
                src="#"
                alt="Preview"
                class="preview-image"
                id="previewImage"
                style="border: 2px solid rgb(255, 255, 255);border-radius: 50%; height:120px;width: 120px;"
              />
              <br />
            </div>
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="profile_pic"
              >Upload Profile Picture(If picture seems irrelevant, your application will be rejected)</label
            >
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              aria-describedby="file_input_help"
              id="profile_pic"
              name="profile_pic"
              type="file"
              accept="image/*"
              onchange="previewImage(event)"
              required
            />
            <p
              class="mt-1 text-sm text-gray-500 dark:text-gray-300"
              id="file_input_help"
            >
              PNG, JPG, or JPEG (MAX. 800x400px and Less than 1MB).
            </p>
          </div>
          <script>
            function showDiv(divId, element)
              {
                  document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
              }
          </script>
          <script>
              document.addEventListener('DOMContentLoaded', function () {
                  // Get the file input element
                  const fileInput = document.getElementById('noc_file_input');
          
                  // Add change event listener to the file input
                  fileInput.addEventListener('change', function () {
                      // Get the selected file
                      const selectedFile = fileInput.files[0];
          
                      // Check if a file is selected
                      if (selectedFile) {
                          // Check if the file type is PDF
                          if (selectedFile.type === 'application/pdf') {
                              // Check if the file size is less than 2MB
                              if (selectedFile.size <= 2 * 1024 * 1024) {
                                  // File is a valid PDF with size less than 2MB
                                  console.log('File is a valid PDF with size less than 2MB.');
                              } else {
                                  alert('Please upload a PDF file with a size less than 2MB.');
                                  // Clear the file input
                                  fileInput.value = '';
                              }
                          } else {
                              alert('Please upload a PDF file.');
                              // Clear the file input
                              fileInput.value = '';
                          }
                      }
                  });
              });
          </script>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get the file input element
                const fileInput = document.getElementById('ticket_file_input');

                // Add change event listener to the file input
                fileInput.addEventListener('change', function () {
                    // Get the selected file
                    const selectedFile = fileInput.files[0];

                    // Check if a file is selected
                    if (selectedFile) {
                        // Check if the file type is PDF
                        if (selectedFile.type === 'application/pdf') {
                            // Check if the file size is less than 2MB
                            if (selectedFile.size <= 2 * 1024 * 1024) {
                                // File is a valid PDF with size less than 2MB
                                console.log('File is a valid PDF with size less than 2MB.');
                            } else {
                                alert('Please upload a PDF file with a size less than 2MB.');
                                // Clear the file input
                                fileInput.value = '';
                            }
                        } else {
                            alert('Please upload a PDF file.');
                            // Clear the file input
                            fileInput.value = '';
                        }
                    }
                });
            });
          </script>
        
          
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              var fileInput = document.getElementById("profile_pic");
              var previewContainer = document.getElementById("previewContainer");
              var previewImage = document.getElementById("previewImage");
          
              fileInput.addEventListener("change", function (event) {
                previewImageFile(event);
              });
          
              function previewImageFile(event) {
                var input = event.target;
                var fileSize = input.files[0].size; // Get the file size
          
                // Check if file size is less than 2MB (2 * 1024 * 1024 bytes)
                if (fileSize > 1* 1024 * 1024) {
                  alert("File size exceeds 1MB. Please upload a smaller file.");
                  input.value = null; // Clear the input field
                  previewContainer.style.display = "none"; // Hide the preview container
                  return; // Stop further execution
                }

                // Get the file name and check its extension
                var fileName = input.files[0].name;
                var fileExtension = fileName.split('.').pop().toLowerCase();
                var allowedExtensions = ['jpg', 'jpeg', 'png'];

                if (allowedExtensions.indexOf(fileExtension) === -1) {
                    alert("Invalid file format. Please upload a file with a valid extension (jpg, jpeg, png).");
                    input.value = null; // Clear the input field
                    previewContainer.style.display = "none"; // Hide the preview container
                    return; // Stop further execution
                }
          
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
          
                  reader.onload = function (e) {
                    previewImage.src = e.target.result;
                    previewContainer.style.display = "block";
                  };
          
                  reader.readAsDataURL(input.files[0]);
                }
              }
            });
          </script>
          <button
            type="submit"
            class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >
            submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
