{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Scroll-driven animations for columns and rows powered by GSAP" />
	<meta name="keywords" content="scroll animation, grid, column, javascript, css, gsap, 3d, distort" />
	<meta name="author" content="Codrops" />
  <title>SHORE 24</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.typekit.net/rzt6nuu.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'index.css' %}" />
  <script src="{% static 'index.js' %}"></script>
  <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<script src="//tympanus.net/codrops/adpacks/analytics.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'shore_24_clogo.png'%}">
</head>
<body>
    <style>
      .tick {
          padding-bottom: 1em;
          font-size: 1rem;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
              Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
      }

      .tick-label {
          font-size: 0.375em;
          text-align: center;
          color: white;
      }

      .tick-group {
          margin: 0 0.25em;
          text-align: center;
      }
  </style>
  <video autoplay muted loop  id="video-background">
    <source src="{% static 'shorefest.mp4' %}" type="video/mp4">
  </video>

<div>
  <div class="tick"  data-did-init="handleTickInit">
    <div
        data-repeat="true"
        data-layout="horizontal center fit"
        data-transform="preset(d, h, m, s) -> delay"
    >
        <div class="tick-group">
            <div
                data-key="value"
                data-repeat="true"
                data-transform="pad(00) -> split -> delay"
            >
                <span data-view="flip"></span>
            </div>
  
            <span data-key="label" data-view="text" class="tick-label"></span>
        </div>
    </div>
  </div>
</div>


  <div id="shore-text">SHORE 23 GALLERY</div>
  <div id="shore-gallery">
    <main>
			<div class="columns">
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		        </div>
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		        </div>
		        <div class="column">
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
          </div>
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		        </div>
				    <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
		                </div>
		            </figure>
		        </div>
            <div class="column">
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
          </div>
			</div>
		</main>
		<script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
		<script src="{% static 'js/gsap.min.js' %}"></script>
		<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
		<script src="{% static 'js/lenis.min.js' %}"></script>
		<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<script type="module" src="{% static 'js/index7.js' %}"></script>
  </div>

<script>
  function handleTickInit(tick) {

      var nextYear = new Date().getFullYear() + 1;

      Tick.count.down('2024-02-02').onupdate = function (value) {
          tick.value = value;
      };
  }
</script>
  <script src="{% static 'countdown.js' %}"></script>
</body>

</html>
