{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Shore GITAM" />
	<title>SHORE 24</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.typekit.net/rzt6nuu.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'index.css' %}" />
	<script src="{% static 'index.js' %}"></script>
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<script src="//tympanus.net/codrops/adpacks/analytics.js"></script>
	<link rel="icon" type="image/x-icon" href="{% static 'shore_24_clogo.png'%}">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FTVGGBL7NF"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-FTVGGBL7NF');
	</script>
</head>
<body>
    <style>
      .tick {
          padding-bottom: 1em;
          font-size: 1rem;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
              Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
      }

      .tick-label {
          font-size: 0.375em;
          text-align: center;
          color: white;
      }

      .tick-group {
          margin: 0 0.25em;
          text-align: center;
      }
	  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans:wght@200;600;800&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans:wght@600;800&display=swap');
		.mascot{
			display: flex;
			justify-content: space-around;
			background-color: black;
		}
		#mascot-part2 img{
			height:350px;
			width: 350px;
			object-fit: contain;
		}
		#about-mascot{
			width:30rem;
			font-size: 2rem;
			color: white;
			font-family: 'Josefin Sans', sans-serif;
			font-family: 'Noto Sans', sans-serif;
		}
		#mascot-part1{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
		#mascot-title{
			font-size: 5rem;
			color: white;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
			font-family: 'Noto Sans', sans-serif;
		}
		@media screen and (max-width:1300px){
			#mascot-title{
				font-size: 2.5rem;
			}
			#about-mascot{
				font-size: 1.3rem;
				width:18rem;
			}
		}
		@media only screen and (max-width: 770px){
			#mascot-title{
				font-size: 2rem;
			}
			#about-mascot{
				font-size: 1.2rem;
				width:20rem;
			}
			#mascot-part2 img{
				width:250px;
				height:250px;
			}
		}
		@media screen and (max-width:692px){
			.mascot {
				display: flex;
				flex-direction:column;
			}
			#mascot-title{
				font-size: 2rem;
				text-align: center;
			}
			#about-mascot{
				font-size: 1.2rem;
				width:30rem;
				margin-left: 5rem;
				margin-top: 3rem;
			}
			#mascot-part2 img{
				width:350px;
				height:350px;
				margin-left:9rem ;
			}
		}
		@media only screen and (max-width: 540px){
			#about-mascot{
				font-size: 1.2rem;
				width:21rem;
				margin-top: 2.5rem;
			}
			#mascot-part2 img{
				width:350px;
				height:350px;
				margin-left: 5rem;
			}
		}
		@media only screen and (max-width: 465px){
			#mascot-title{
				font-size: 2rem;
				text-align: center;
				margin-top: 5rem;
			}
			#about-mascot{
				font-size: 1rem;
				width:15rem;
				margin-top: 2.5rem;
				margin-right: 2rem;
			}
			#mascot-part2 img{
				width:350px;
				height:350px;
				margin-left: 1.5rem;
			}
		}
		@media only screen and (max-width: 376px){
			#mascot-title{
				font-size: 1.6rem;
				text-align: center;
			}
			#about-mascot{
				font-size: 1rem;
				width:15.5rem;
				margin-top: 2.5rem;
				margin-left: 3rem;
			}
			#mascot-part2 img{
				width:350px;
				height:350px;
				margin-left: 0.3rem;
			}
		}
		@media screen and (max-width:320px){
			#mascot-title{
				font-size: 1.3rem;
				text-align: center;
				margin-top: 5rem;
			}
			#about-mascot{
				font-size: 1rem;
				width:13rem;
				margin-top: 2.5rem;
				margin-left: 3.5rem;
			}
			#mascot-part2 img{
				width:290px;
				height:290px;
			}
		}
  </style>
  <div>
  <video loop muted autoplay playsinline preload="metadata" id="video-background" class="object-contain">
    <source src="{% static 'shore23_glimpse.mp4' %}" type="video/mp4">
  </video>
  </div>
  {% include 'navbar.html' %}
  <h1 id="shore-soon">We  Are  Launching  Soon</h1>
<div>
  <div class="tick"  data-did-init="handleTickInit">
    <div
        data-repeat="true"
        data-layout="horizontal center fit"
        data-transform="preset(d, h, m, s) -> delay"
    >
        <div class="tick-group">
            <div
                data-key="value"
                data-repeat="true"
                data-transform="pad(00) -> split -> delay"
            >
                <span data-view="flip"></span>
            </div>
  
            <span data-key="label" data-view="text" class="tick-label"></span>
        </div>
    </div>
  </div>
</div>
<div class="mascot">
	<div id="mascot-part1">
		<div id="mascot-title">GITPHIN</div>
		<div id="about-mascot">Meet Gitphin, the lively mascot of Shore Fest! Gitphin is here to make waves of excitement at the techno-cultural,sportsdriven celebration. </div>
	</div>
	<div id="mascot-part2">
		<img src="https://res.cloudinary.com/jerryhaxor/image/upload/v1703075439/shore%2024/mascot_w1c71a.png" alt="" >
	</div>

</div>
  <div id="shore-text">SHORE`23 GALLERY</div>
  <div id="shore-gallery">
    <main>
			<div class="columns">
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028662/shore%2024/image_19.43.07_1_wlscqy.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028662/shore%2024/image_19.43.07_tpvfp7.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.02_lpukih.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.04_liawl6.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.05_xzkhcv.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.02_1_ry0x05.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.04_1_sl6gad.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.08_akvnl3.jpg)"></div>
		                </div>
		            </figure>
		        </div>
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028661/shore%2024/image_19.43.04_2_azwzqz.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028660/shore%2024/image_19.43.08_1_jlxbum.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028660/shore%2024/image_19.43.08_2_edbbqe.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028660/shore%2024/image_19.43.07_2_cjmdcx.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028660/shore%2024/image_19.43.06_engxmg.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028660/shore%2024/image_19.43.10_bxcjsl.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028659/shore%2024/image_19.43.10_1_ydenjp.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028659/shore%2024/image_19.43.11_nwhiuy.jpg)"></div>
		                </div>
		            </figure>
		        </div>
		        <div class="column">
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028659/shore%2024/image_19.43.06_1_t5giun.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028230/shore%2024/IMG_2976_zwitm5.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028228/shore%2024/IMG_2859_gafv2j.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028226/shore%2024/IMG_2545_kosbzd.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028223/shore%2024/IMG_1277_htv45z.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028221/shore%2024/IMG_1217_myclhp.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028218/shore%2024/DSC02589_ozyufd.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028216/shore%2024/DSC02360_f9d2hq.jpg)"></div>
                  </div>
              </figure>
          </div>
		        <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028213/shore%2024/DSC02099_d629wx.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028210/shore%2024/DSC00039-2_oe7m4r.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028207/shore%2024/DSC00006-2_ercfpc.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028205/shore%2024/DSC_0980_siv2sj.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028202/shore%2024/DSC_0275_njlyz2.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028189/shore%2024/DSC_0047_lwxnd2.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028182/shore%2024/Copy_of_Z90A7755-Edit_a0zmfd.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028179/shore%2024/Copy_of_Z90A7743_inya2i.jpg)"></div>
		                </div>
		            </figure>
		        </div>
				    <div class="column">
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028177/shore%2024/Copy_of_Z90A7009-Edit_g5ymxt.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028175/shore%2024/Copy_of_IMG_1467_bokcdy.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028055/shore%2024/Copy_of_Z90A7553_aepaz1.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028054/shore%2024/Copy_of_Z90A7301-Edit_zcuryf.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028054/shore%2024/Copy_of_Z90A7644-Edit_q9voys.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028054/shore%2024/Copy_of_IMG_0824_jt98a9.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028054/shore%2024/Copy_of_IMG_1289_e7v483.jpg)"></div>
		                </div>
		            </figure>
		            <figure class="column__item">
		                <div class="column__item-imgwrap">
		                    <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028053/shore%2024/Copy_of_Z90A7477-Edit_gxauxr.jpg)"></div>
		                </div>
		            </figure>
		        </div>
            <div class="column">
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028053/shore%2024/Copy_of_Z90A7477-Edit_gxauxr.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028053/shore%2024/Copy_of_IMG_0336_jqehvv.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028052/shore%2024/Copy_of_IMG_0081_wzhbyk.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028210/shore%2024/DSC00039-2_oe7m4r.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1701948945/shore%2024/IMG_9061_1_d7k3xl.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028228/shore%2024/IMG_2859_gafv2j.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
                  <div class="column__item-imgwrap">
                      <div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028216/shore%2024/DSC02360_f9d2hq.jpg)"></div>
                  </div>
              </figure>
              <figure class="column__item">
				<div class="column__item-imgwrap">
					<div class="column__item-img" style="background-image:url(https://res.cloudinary.com/jerryhaxor/image/upload/v1702028055/shore%2024/Copy_of_Z90A7553_aepaz1.jpg)"></div>
				</div>
			  </figure>
          </div>
			</div>
		</main>
		<script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
		<script src="{% static 'js/gsap.min.js' %}"></script>
		<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
		<script src="{% static 'js/lenis.min.js' %}"></script>
		<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<script type="module" src="{% static 'js/index7.js' %}"></script>
  </div>
  <footer class="footer">
	<div class="footer-content">
	  <div class="footer-left">
		<img src="{%  static 'shore_24_clogo.png' %}" alt="Logo" class="logo">
	  </div>
	  <div class="footer-middle">
		<p>Visakhapatnam Campus<br>Gandhi Nagar, Rushikonda,<br>Visakhapatnam - 530045<br>Andhra Pradesh, India</p>
		<p><br>Contact: <a href="mailto:unifest_cc@gitam.in">unifest_cc@gitam.in</a></p>
	  </div>
	  <div class="footer-right">
		<p>Social Media Links</p>
		<div class="social-media-icons">
		  <a href="https://instagram.com/shore.gitam"><img src="{% static 'instagram.png' %}" alt="Instagram">Instagram</a>
		  <a href="https://www.facebook.com/people/Shore-Gitam/pfbid02egLqcozsNNNcAasJmLTQVDTKS4zqVWZqqHjZEBRABGeqzqmwWiiZdaGAt9SeGd28l/?mibextid=LQQJ4d"><img src="{% static 'facebook.png' %}" alt="Facebook">Facebook</a>
		  <a href="https://www.linkedin.com/company/shore-gitam-deemed-to-be-university/"><img src="{% static 'linkedin.png' %}" alt="LinkedIn">LinkedIn</a>
		  <a href="https://www.snapchat.com/add/shore.gitam?share_id=4NQqf4oGTgy7i8JkEVCrYw&locale=en_IN&sid=489faf2175d04d3d9092db22048b16f9"><img src="{% static 'snapchat.png' %}" alt="Snapchat">Snapchat</a>
		</div>
	  </div>
	</div>
  </footer>
  

<script>
  function handleTickInit(tick) {

      var nextYear = new Date().getFullYear() + 1;

      Tick.count.down('2024-02-02').onupdate = function (value) {
          tick.value = value;
      };
  }
  
</script>
</body>

</html>
