
{% load static %}
<link rel="stylesheet" href="{% static 'timer.css' %}" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'timer.js' %}"></script>


<div id="clock-container" class="relative  w-full h-screen m-0 bg-gradient-to-b from-mostlyBlackBlue to-veryDarkBlue
    font-redHatText">
  <section id="time-main" class="w-full md:w-30 h-full flex flex-col justify-center items-center">
    <div class="text-xl text-center tracking-[8px] md:text-4xl text-grayishBlue md:tracking-[14px] font-bold">
      WE'RE LAUNCHING SOON
    </div>
    <!--Time-->
    <div id="clock-main" class="mt-80px] flex justify-center items-center gap-[40px]">
      <!--HOURS-->
      <div id="clock-cards" class="flex flex-col-reverse justify-center items-center space-y-1">
        <h1 class="mt-[30px] md:text-l text-2xl text-grayishBlue font-bold">
          DAYS
        </h1>
        <div class="flex justify-center items-center">
          <div class="flex flex-col text-softRed space-y-[1px] rounded-xl container-shadow" data-days>
            <!--Top-->
            <span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                09
              </span>
              <!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
            <!--Bottom-->
            <span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
              <!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!--HOURS-->
      <div id="clock-cards" class="flex flex-col-reverse justify-center items-center space-y-1">
        <h1 class="mt-[30px] text-2xl text-grayishBlue font-bold">
          HOURS
        </h1>
        <div class="flex justify-center items-center">
          <div class="flex flex-col text-softRed space-y-[1px] rounded-xl container-shadow" data-hours>
            <!--Top-->
            <span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
              <!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
            <!--Bottom-->
            <span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
              <!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!--MINUTES-->
      <div id="clock-cards" class="flex flex-col-reverse justify-center md:w-20 items-center space-y-5">
        <h1 class="mt-[30px] text-2xl text-grayishBlue font-bold">
          MINUTES
        </h1>
        <div class="flex justify-center items-center">
          <div class="flex flex-col text-softRed space-y-[1px] rounded-xl container-shadow" data-minutes>
            <!--Top-->
            <span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
              <!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
            <!--Bottom-->
            <span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
              <!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!--Seconds-->
      <div id="clock-cards" class="flex flex-col-reverse justify-center items-center space-y-5">
        <h1 class="mt-[30px] text-2xl text-grayishBlue font-bold">
          SECONDS
        </h1>
        <div class="flex justify-center items-center">
          <div class="flex flex-col text-softRed space-y-[1px] rounded-xl container-shadow" data-seconds>
            <!--Top-->
            <span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
              <!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow">
                <div class="absolute w-full h-full flex justify-start items-end" data-flip-top>
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
            <!--Bottom-->
            <span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
              <!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden 
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>