{% extends 'events_base.html' %}
{% load static %}
{% block title %} Sign Up {% endblock %}
{% block head %}
<style>
  body {
    background: linear-gradient(to bottom right, #06399d, #9a1525, #153477);
  }
  .title {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
</style>
{% endblock %} 
{% block body %} 
{% include 'ngusers/navbar.html' %}
{% include 'messages.html' %}

<div class="h-screen flex items-center justify-center">
  <div
    class="container mx-auto block max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
  >
    <h1 class="text-center title font-bold mb-5">Sign Up</h1>

    <form method="post">
      {% csrf_token %}
      <div class="mb-6">
        <label
          for="username"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter Username"
          required
        />
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <label
            for="first_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >First name</label
          >
          <input
            type="text"
            name="first_name"
            id="first_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Enter First Name"
            required
          />
        </div>
        <div>
          <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Last name</label
          >
          <input
            type="text"
            name="last_name"
            id="last_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Enter Last Name"
            required
          />
        </div>
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Password</label
        >
        <input
          type="password"
          name="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter Password"
          required
        />
      </div>
      <div id="password_requirements"></div>
      <div class="mb-6">
        <label
          for="confirm_password"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Confirm Password</label
        >
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Confirm Password"
          required
        />
      </div>
      <div id="password_match"></div>
      <center>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </center>
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const passwordInput = document.getElementById("password");
        const confirmInput = document.getElementById("confirm_password");
        const requirementsMessage = document.getElementById("password_requirements");
        const matchMessage = document.getElementById("password_match");
        const form = document.querySelector("form");
    
        function updateRequirementsMessage() {
          const password = passwordInput.value;
          const requirements = {
            length: password.length >= 6,
            lowercase: /[a-z]/.test(password),
            uppercase: /[A-Z]/.test(password),
            number: /\d/.test(password),
            specialCharacter: /[!@#?$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password),
          };
    
          const missingRequirements = Object.entries(requirements)
            .filter(([key, value]) => !value)
            .map(([key]) => key);
    
          const missingRequirementsText = missingRequirements
            .map((requirement) => {
              switch (requirement) {
                case "length":
                  return "<li>Must be at least 6 characters long</li>";
                case "lowercase":
                  return "<li>Must include at least one lowercase character</li>";
                case "uppercase":
                  return "<li>Must include at least one uppercase character</li>";
                case "number":
                  return "<li>Must include at least one number</li>";
                case "specialCharacter":
                  return "<li>Must include at least one special character</li>";
                default:
                  return "";
              }
            })
            .join("");
    
          if (missingRequirements.length > 0) {
            requirementsMessage.innerHTML = `
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Error</span>
                <div>
                  <span class="font-medium">Password requirements:</span>
                  <ul class="mt-1.5 list-disc list-inside">
                    ${missingRequirementsText}
                  </ul>
                </div>
              </div>
            `;
          } else {
            requirementsMessage.innerHTML = "";
          }
        }
    
        form.addEventListener("submit", function (event) {
          const password = passwordInput.value;
          const confirmPassword = confirmInput.value;
    
          if (password !== confirmPassword) {
            matchMessage.innerHTML = `
              <div class="text-red-800 text-sm mt-2">
                Passwords do not match.
              </div>
            `;
            event.preventDefault(); // Prevent the form from submitting
          } else {
            matchMessage.innerHTML = "";
          }
    
          // Check password requirements before submitting
          updateRequirementsMessage();
          if (requirementsMessage.innerHTML !== "") {
            event.preventDefault(); // Prevent the form from submitting
          }
        });
    
        passwordInput.addEventListener("input", updateRequirementsMessage);
        confirmInput.addEventListener("input", function () {
          const password = passwordInput.value;
          const confirmPassword = confirmInput.value;
    
          if (password === confirmPassword) {
            matchMessage.innerHTML = "";
          } else {
            matchMessage.innerHTML = `
              <div class="text-red-800 text-sm mt-2">
                Passwords do not match.
              </div>
            `;
          }
        });
      });
    </script>
    
    
  </div>
</div>
{% endblock %}
