{% extends 'events_base.html' %}
{% load static %}
{% block title %}
Hackathon Registered Teams
{% endblock title %}
{% block body %}
{% include 'sports_navbar.html' %}
{% include 'messages.html' %}
<h2 class="text-2xl text-center">Teams Registered for Hackathon</h2>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    S.No
                </th>
                <th scope="col" class="px-6 py-3">
                    Team Name
                </th>
                <th scope="col" class="px-6 py-3">
                    College
                </th>
                <th scope="col" class="px-6 py-3">
                    Team Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Team Payment Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ forloop.counter }}
                </th>
                <td class="px-6 py-4">
                    {{ team.visible_name }}
                </td>
                <td class="px-6 py-4">
                    {{ team.college.name }}
                </td>
                <td class="px-6 py-4">
                    {% if team.status == 'eligible_for_payment' %}
                        Eligible for Payment
                    {% else %}
                        {{ team.status }}
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    {% if team.isPaid %} Paid {% else %} Not Paid {% endif %}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'events:view_hackathon_team' team.team_hash %}"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        View
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock body %}