{% extends "sports/base.html" %} 
{% load static %} 
{% block title %} Matches {% endblock %}
{% block body %}
{% include 'sports/navbar.html' %}
{% include 'messages.html' %}

<div class="mb-4 border-b border-gray-200">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    <li class="w-full" role="presentation">
      <button
        class="inline-block w-full p-4 border-b-2 rounded-t-lg"
        id="matches-tab"
        data-tabs-target="#matches"
        type="button"
        role="tab"
        aria-controls="matches"
        aria-selected="false"
      >
        Matches
      </button>
    </li>
  </ul>
</div>

<div id="default-tab-content">
  <!-- Tab for matches -->
  <div class="flex items-center justify-center flex-col">
    <div class="p-5 rounded-lg bg-gray-50 w-full max-w-md" id="matches" role="tabpanel" aria-labelledby="matches-tab">
      <label for="match-select" class="block mb-2 text-sm font-medium text-gray-900">Select Sports</label>
      <select id="match-select" class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option selected disabled>Choose a sport</option>
        {% for sport in sports %} 
          {% if sport.match_img %}
            <option value="match-{{ sport.name }}">{{ sport.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div>
      {% for sport in sports %} 
        {% if sport.match_img %}
          <div class="hidden p-4 rounded-lg bg-gray-50 matches" id="match-{{ sport.name }}-container" role="tabpanel" aria-labelledby="{{ sport.name }}-tab">
            <img src="https://shore.gitam.edu/home/ubuntuserver/Shore24/media/Sports/{{ sport.match_img }}" alt="{{ sport.name }} Match Image" />
          </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const matchSelect = document.getElementById("match-select");
    const matches = document.getElementsByClassName("matches");

    matchSelect.addEventListener("change", function handleChange(event) {
      // Hide all matches
      for (let match of matches) {
        match.style.display = "none";
      }

      // Show the selected match
      const matchContainer = document.getElementById(event.target.value + "-container");
      if (matchContainer) {
        matchContainer.style.display = "block";
      }
    });
  });
</script>

{% endblock body %}
