{% extends 'sports/base.html' %} {% load static %} {% block body %}
<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap px-3 justify-between mx-auto p-4">
    <a href="#" class="flex px-3 space-x-3 rtl:space-x-reverse">
      <img src="{% static 'img/shore_24_clogo.png' %}" class="h-8" alt="Logo" />
      <span class="px-3 text-2xl font-bold whitespace-nowrap">Shore 2024</span>
    </a>
    <button>
      <a
        href="{% url 'corehome' %}"
        class="inline-flex px-3 ju px-3 p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      >
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </button>
  </div>
</nav>

{% endblock %}
