{% extends "sports/base.html" %} 
{% load static %} 
{% block title %} Points {% endblock %}
{% block body %}
{% include 'sports/navbar.html' %}
{% include 'messages.html' %}

<div class="mb-4 border-b border-gray-200">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    <li class="w-full" role="presentation">
      <button
        class="inline-block w-full p-4 border-b-2 rounded-t-lg"
        id="points-tab"
        data-tabs-target="#points"
        type="button"
        role="tab"
        aria-controls="points"
        aria-selected="false"
      >
        Points
      </button>
    </li>
  </ul>
</div>

<div id="default-tab-content">
  <!-- Tab for points -->
  <div class="flex items-center justify-center flex-col">
    <div class="p-5 rounded-lg bg-gray-50 w-full max-w-md" id="points" role="tabpanel" aria-labelledby="points-tab">
      <label for="point-select" class="block mb-2 text-sm font-medium text-gray-900">Select Sports</label>
      <select id="point-select" class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option selected disabled>Choose a sport</option>
        {% for sport in sports %} 
          {% if sport.points_img %}
            <option value="point-{{ sport.name }}">{{ sport.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div>
      {% for sport in sports %} 
        {% if sport.points_img %}
          <div class="hidden p-4 rounded-lg bg-gray-50 points" id="point-{{ sport.name }}-container" role="tabpanel" aria-labelledby="{{ sport.name }}-tab">
            <img src="https://shore.gitam.edu/home/ubuntuserver/Shore24/media/Sports/{{ sport.points_img }}" alt="{{ sport.name }} Points Image" />
          </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const pointSelect = document.getElementById("point-select");
    const points = document.getElementsByClassName("points");

    pointSelect.addEventListener("change", function handleChange(event) {
      // Hide all points
      for (let point of points) {
        point.style.display = "none";
      }

      // Show the selected point
      const pointContainer = document.getElementById(event.target.value + "-container");
      if (pointContainer) {
        pointContainer.style.display = "block";
      }
    });
  });
</script>

{% endblock body %}
