{% extends 'prelims_base.html' %}
{% load static %}
{% load filter_tags %}

{% block title %}
Registered Events
{% endblock title %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        body {
            font-family: "Outfit";
            background-color: #000000;
        }


        .cards {
            margin: 5rem;
        }

        .title {
            font-size: 40px;
            font-family: "MADE Outer Sans";
            font-weight: 700;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3499999940395355);
        }

        .card {
            margin-bottom: 2rem;
        }
    </style>
{% endblock head %}

{% block body %}
{% include 'messages.html' %}
    <h2 class="font-sans text-white text-center title mt-5">Registered Events</h2>
    <div class="flex cards md:flex-row flex-wrap">
        {% for p in participant %}
        <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto card" style="padding-bottom: 0px;"">
            <div class="p-5">
                <div>
                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ p.event.name }}
                    </h5>
                </div>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Team Name:</span> {{ p.team.visible_name }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Date:</span> {{ p.event.date }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Time:</span> {{ p.event.time }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Venue:</span> {{ p.event.venue }}
                </p>

                <!-- Modal toggle -->
                <div class="flex">
                <button data-modal-target="modal_{{ p.event.name }}" data-modal-toggle="modal_{{ p.event.name }}"
                    class="mr-2 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    View Teammates
                </button>
                {% if p.isCaptain and not p.team.reference_attatchment %}
                    {% if p.event.name == 'Masterchef' %}
                        <a href="https://drive.google.com/drive/folders/1cdqjEVxYxH14dL0uqNH7rxdgIEsOuW6A?usp=sharing"
                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        target="_blank"
                        >
                            Upload File
                        </a>
                    {% else %}
                    <!-- Modal toggle to upload file -->
                    <button data-modal-target="authentication-modal_{{ p.event.name }}" data-modal-toggle="authentication-modal_{{ p.event.name }}"
                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">
                        Upload File
                    </button>
                    {% endif %}
                {% endif %}
                </div>

                <!-- Main modal -->
                <div id="modal_{{ p.event.name }}" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Teammates for {{ p.event.name }}
                                </h3>
                                <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="modal_{{ p.event.name }}">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Team Name: {{ p.team.visible_name }}</h2>
                            {% with p.team.teammates|split:"," as names %}
                            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                                {% for name in names %}
                                    <li>{{ name.title }}</li>
                                    {% endfor %}
                            </ul>
                            {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if p.isCaptain and not p.team.reference_attatchment %}
                <!-- Main modal to upload file -->
                <div id="authentication-modal_{{ p.event.name }}" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Upload File
                                </h3>
                                <button type="button"
                                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="authentication-modal_{{ p.event.name }}">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5">
                                <form class="space-y-4" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_id" value="{{ p.team.id }}">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload
                                        file</label>
                                    {% if p.event.name == 'Canvas' %}
                                        <input required
                                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                            name="fileUpload" id="file_input" type="file">
                                    {% else %}
                                        <input required
                                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                            name="fileUpload" id="file_input" type="file" accept="audio/*">
                                    {% endif %}
                                        <button type="submit"
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            var activator = $("#activator");
            var navBg = $("#fade-bg");

            activator.on("click", function () {
                $(this).toggleClass("active");
                $("#activate-menu").toggleClass("visible");
                navBg.fadeToggle();
            });

            navBg.on("click", function () {
                $("#activate-menu").removeClass("visible");
                activator.removeClass("active");
                $(this).hide();
            });
        });
    </script>
{% endblock body %}