{% extends 'prelims_base.html' %}
{% load static %}

{% block title %}
Registered Events
{% endblock title %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        body {
            font-family: "Outfit";
            background-color: #000000;
        }

        #activator {
            display: block;
            position: absolute;
            width: 30px;
            height: 40px;
            top: 30px;
            right: 15px;
            cursor: pointer;
            z-index: 100;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;

            .menu-icon,
            .menu-icon::before,
            .menu-icon::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                height: 4px;
                background: #ffffff;
                border-radius: 1px;
                cursor: pointer;
                -webkit-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
            }

            .menu-icon {
                top: 8px;
            }

            .menu-icon::before {
                top: -8px;
            }

            .menu-icon::after {
                bottom: -8px;
            }
        }

        #activator.active {
            .menu-icon {
                background: none;
            }

            .menu-icon::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .menu-icon::after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        #activate-menu {
            z-index: 90;
            padding: 20px 40px;
            position: fixed;
            top: 0;
            bottom: 0;
            right: -30%;
            width: 20%;
            list-style-type: none;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-overflow-scrolling: touch;
            background: #000000;
            color: #000000;
            overflow: hidden;
            overflow-y: auto;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        #activate-menu.visible {
            right: 0;
        }

        #fade-bg {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            overflow: hidden;
            top: 0;
            left: 0;
            z-index: 80;
            background: rgba(180, 180, 180, 0.17);
            backdrop-filter: blur(8px);
        }

        li {
            line-height: 2rem;
            font-weight: bolder;
            font-size: 1.5rem;
            text-align: center;
            color: #fff;
            margin: 1rem;
        }

        li:hover {
            background-color: #3700ff;
            color: #ffffff;
            border-radius: 5px;
        }

        .nav1 {
            margin-top: 5rem;
        }

        @media only screen and (max-width: 767px) {
            #activate-menu {
                z-index: 90;
                padding: 20px 40px;
                position: fixed;
                top: 0;
                bottom: 0;
                right: -50%;
                width: 50%;
                list-style-type: none;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -webkit-overflow-scrolling: touch;
                background: #000000;
                color: #000000;
                overflow: hidden;
                overflow-y: auto;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            #activate-menu {
                z-index: 90;
                padding: 20px 40px;
                position: fixed;
                top: 0;
                bottom: 0;
                right: -30%;
                width: 30%;
                list-style-type: none;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -webkit-overflow-scrolling: touch;
                background: #000000;
                color: #ffffff;
                overflow: hidden;
                overflow-y: auto;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }

        ul {
            color: white;
        }

        .cards {
            margin: 5rem;
        }

        .title {
            font-size: 40px;
            font-family: "MADE Outer Sans";
            font-weight: 700;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3499999940395355);
        }

        .card {
            margin-bottom: 2rem;
        }
    </style>
{% endblock head %}

{% block body %}
{% include 'messages.html' %}
    <h2 class="font-sans text-white text-center title mt-5">Registered Events</h2>
    <div class="flex cards md:flex-row flex-wrap">
        {% for p in participant %}
        <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto card" style="padding-bottom: 0px;"">
            <div class="p-5">
                <div>
                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ p.event.name }}
                    </h5>
                </div>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Date:</span> {{ p.event.date }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Time:</span> {{ p.event.time }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <span class="font-bold">Venue:</span> {{ p.event.venue }}
                </p>

                <!-- Modal toggle -->
                <div class="flex">
                <button style="display: none;" data-modal-target="default-modal" data-modal-toggle="default-modal"
                    class="mr-2 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    View Teammates
                </button>
                {% if p.isCaptain and not p.team.reference_attatchment %}
                <!-- Modal toggle to upload file -->
                <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
                    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    Upload File
                </button>
                {% endif %}
                </div>

                <!-- Main modal -->
                <div style="display: none;" id="default-modal" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Teammates for {{ p.event.name }}
                                </h3>
                                <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="default-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Name
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Email
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for teammate in p.team.participant_set.all %}
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{ teammate.name.title }}
                                            </th>
                                            <td class="px-6 py-4">
                                                {{ teammate.email }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {% if p.isCaptain and not p.team.reference_attatchment %}
                <!-- Main modal to upload file -->
                <div id="authentication-modal" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Upload File
                                </h3>
                                <button type="button"
                                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="authentication-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5">
                                <form class="space-y-4" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_id" value="{{ p.team.id }}">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload
                                        file</label>
                                    <input required
                                        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                        name="fileUpload" id="file_input" type="file" accept="audio/*">
                                    <button type="submit"
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            var activator = $("#activator");
            var navBg = $("#fade-bg");

            activator.on("click", function () {
                $(this).toggleClass("active");
                $("#activate-menu").toggleClass("visible");
                navBg.fadeToggle();
            });

            navBg.on("click", function () {
                $("#activate-menu").removeClass("visible");
                activator.removeClass("active");
                $(this).hide();
            });
        });
    </script>
{% endblock body %}