{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shore' 24 Prelims</title>
    <link rel="icon" type="image/x-icon" href="{% static 'shore_24_clogo.png'%}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTVGGBL7NF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FTVGGBL7NF');
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/font-awesome-4.3.0/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pattern.css' %}" />
    
    <script>
      if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1) {
        var root = document.getElementsByTagName("html")[0];
        root.setAttribute("class", "ff");
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <style>
      #shorenav {
        text-align: center;
        font-size: 5rem;
        position: relative;

        font-family: Georgia;
      }
      #icon {
        background: #00000000;
        color: white;
        border-radius: inherit;
        font-size: 2.5rem;
        z-index: 10;
      }
      #user-dropdown {
        display: none;
        position: absolute;
        z-index: 100; /* Ensure the dropdown is on top */
        background-color: white; /* Change background color as needed */
        padding: 10px;
        /* Other styles for the dropdown menu */
      }

      #user-dropdown.show {
        display: block;
      }

      .blurred-background {
        filter: blur(4px); /* Add blur effect */
        pointer-events: none; /* Prevent clicks on the background */
      }
      ol {
        list-style-type: disc; /* or other list-style-type like disc, circle, etc. */
      }
    </style>
    <style>
      .card__content{
        color: white !important;
        background: linear-gradient(to bottom right, #06399d, #9a1525, #153477);
      }
    </style>
  </head>
  <body class="demo-3" style="font-family: Helvetica; background: linear-gradient(to bottom right, #276fff, #ce3345, #4575de);">
    {% include 'messages.html' %}
    <div class="container">
      <header class="codrops-header"> 
        <nav class="border-gray-200 dark:bg-gray-900" id="shorenav">
          <div
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 md:pr-6"
          >
            <div class="flex items-center">
              <img src="{%  static 'shore_24_clogo.png' %}" alt="Logo" class="h-24 w-auto" /> <!-- Replace 'path_to_your_logo_image.png' with the actual path to your logo -->
            </div>
            <div
              class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
            >
              <button
                type="button"
                class="flex text-sm md:me-0"
                id="user-menu-button"
                aria-expanded="false"
                data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom"
              >
                <i class="material-icons" id="icon">menu</i>
              </button>
              <!-- Dropdown menu -->
              <div
                class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                id="user-dropdown"
              >
                <ul class="py-2" aria-labelledby="user-menu-button">
                  <li>
                    <a
                      href="{% url 'index' %}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                      >Home</a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'culturals_home' %}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                      >Prelims Home</a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'prelims_registered_events' %}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                      >Registered Events</a
                    >
                  </li>
                  {% if request.user.events_cultural %}
                  <li>
                    <a id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Registered Teams <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg></a>
                    
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Dance' %}" class="block px-4 py-2 hover:bg-gray-100">Dance</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Music' %}" class="block px-4 py-2 hover:bg-gray-100">Music</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Glamvoyage' %}" class="block px-4 py-2 hover:bg-gray-100">Glam voyage</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Nukkadnatak' %}" class="block px-4 py-2 hover:bg-gray-100">Nukkad Natak</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Debate' %}" class="block px-4 py-2 hover:bg-gray-100">Debate</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Canvas' %}" class="block px-4 py-2 hover:bg-gray-100">Canvas</a>
                        </li>
                        <li>
                          <a href="{% url 'prelims_view_teams' event_name='Masterchef' %}" class="block px-4 py-2 hover:bg-gray-100">Master Chef</a>
                        </li>
                      </ul>
                  </div>
                </li>
                {% endif %}
              
                  {% if not request.user.is_authenticated %}
                  <li>
                    <a
                      href="{% url 'corehome' %}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                      >Sign In</a
                    >
                  </li>
                  {% else %}
                  <li>
                    <a
                      href="{% url 'logout' %}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                      >Logout</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <script>
          const menuButton = document.getElementById("user-menu-button");
          const dropdownMenu = document.getElementById("user-dropdown");

          menuButton.addEventListener("click", () => {
            menuButton.classList.toggle("active");
            dropdownMenu.classList.toggle("show");
            <!-- document.body.classList.toggle('blurred-background'); -->
          });

          // Close the dropdown when clicking outside of it
          document.addEventListener("click", function (event) {
            const isClickInsideMenu = dropdownMenu.contains(event.target);
            const isClickInsideButton = menuButton.contains(event.target);
            if (!isClickInsideMenu && !isClickInsideButton) {
              menuButton.classList.remove("active");
              dropdownMenu.classList.remove("show");
              document.body.classList.remove("blurred-background");
            }
          });
        </script>
      </header>
      <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath1">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath1)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/dance.jpg' %}"
                ></image>
              </svg>
              <!-- Dance Div -->
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title " style="color: #ffffff;">Natya Darpan</h2>
                  <p class="card__subtitle title" style="color: #ffffff;">Dance Competition Prelims</p>
                </div>
                <div class="card__copy">
                  <h2 style="color: #ffffff; border-bottom: 2px solid #ffffff; padding-bottom: 5px; margin-bottom: 15px;">DC_PRELIMS Guidelines:</h2>
                  <p style="margin-bottom: 15px;color: #ffffff;"><strong>Team Limit:</strong> Each team can have 12 to 15 members.</p>
                  <p style="margin-bottom: 15px;color: #ffffff;"><strong>Time Limit:</strong> Performances should not exceed more than 10 minutes. Negative marking for exceeding the time limit.</p>
                  <p style="margin-bottom: 15px;color: #ffffff;"><strong>Audio Submission Deadline:</strong> January 7th, 2024</p>
                  <p style="margin-bottom: 15px;color: #ffffff;"><strong>Audio and Background Image Submissions:</strong> Upload your team's audio in the Shore website, under the PRELIMS section.</p>

                  <h3 style="color: #ffffff; margin-bottom: 10px;font-weight:bolder">Guidelines:</h3>
                  <ul style="list-style-type: disc; margin-bottom: 15px;margin-left:40px;">
                    <li><strong>Theme:</strong> It is mandatory to unite any of the Indian dance forms with any other global style.</li>
                    <li><strong>Live Music:</strong> Not allowed.</li>
                    <li><strong>Props:</strong> Utilized props should not disturb the environment.</li>
                    <li><strong>Accessories, Props, and Costumes:</strong> Participants need to arrange these items.</li>
                    <li><strong>Audio Content:</strong> Should not demean or discriminate against any community.</li>
                  </ul>

                  <h3 style="color: #ffffff; margin-bottom: 10px;font-weight:bolder;">Judging Criteria:</h3>
                  <ol style="padding-left: 0; margin-left: 40px;">
                    <li style="margin-bottom: 10px;">Adherence to the stipulated theme.</li>
                    <li style="margin-bottom: 10px;">Choreography.</li>
                    <li style="margin-bottom: 10px;">Stage utilization.</li>
                    <li style="margin-bottom: 10px;">Expressions.</li>
                    <li style="margin-bottom: 10px;">Synchronization.</li>
                  </ol>
                  <br/>
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-dance"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-dance"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      style="color:white"
                      >I agree to the guidelines </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-dance" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Dance' %}"
                        type="button"
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath2">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath2)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/music.jpg' %}"
                ></image>
              </svg>
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title" style="color:white">Sangeeta Samaroh</h2>
                  <p class="card__subtitle title" style="color:white">Music Competition Prelims</p>
                </div>
                <div class="card__copy" style="color:white !important">
                  <h2 style="color:white">Music Competition Guidelines</h2>
                  <h2 style="color:white">Team Limit:</h2>
                  <p style="color:white">Each band can have at most 6 participants.</p>

                  <h2 style="color:white">Time Limit:</h2>
                  <p style="color:white">
                    Should not exceed more than 8 minutes for each performance.
                    Negative marking for exceeding the time limit.
                  </p>

                  <h2 style="color:white">Background Image Submission:</h2>
                  <p style="color:white">
                    Upload background images required for the performance in the
                    Shore website, under the PRELIMS section.
                  </p>

                  <h2  style="color:white">Guidelines:</h2>
                  <ol class="guide" style="color:white;margin-left:40px">
                    <li style="color:white"><strong>Theme:</strong> It is mandatory to unite any of the Indian dance forms with any other global style.</li>
                    <li style="color:white">
                      A band of aid or a solo act both are allowed as they sing
                      and play at least one instrument.
                    </li>
                    <li style="color:white">
                      Any distasteful behavior or damage to the surrounding
                      equipment or supplies will result in disqualification.
                    </li>
                    <li style="color:white">
                      Only the keyboard part of the synthesizer is allowed.
                      (Rhythm part is not allowed.)
                    </li>
                    <li style="color:white">
                      The Shore team will not be held responsible for the
                      failure of instruments. Participants are advised to ensure
                      the proper functioning of their own equipment.
                    </li>
                  </ol>

                  <h2 style="color:white">Judging Criteria:</h2>
                  <ol class="guide" style="color:white;margin-left:40px" >
                    <li style="color:white">Melodic Creativity: Originality in composition.</li>
                    <li style="color:white">
                      Harmony: Effective blending of vocal and instrumental
                      elements.
                    </li>
                    <li style="color:white">
                      Instrumental Skill: Proficiency in playing at least one
                      instrument.
                    </li>
                    <li style="color:white">
                      Vocal Quality: Clarity, pitch accuracy, and expression.
                    </li>
                    <li style="color:white">
                      Fusion Integration: Seamless blending of diverse elements.
                    </li>
                  </ol>
                  <br />
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-music"
                      type="checkbox"
                      value=""
                      onclick="toggleRegistrationDiv('checkbox-music', 'registration-div-music')"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-music"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" style="color:white"
                      >I agree to the guidelines.
                    </label>
                  </div>
                  <br />
                  <center>
                    <div id="registration-div-music" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Music' %}"
                        type="button"
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath3">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath3)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/glamvoyage.jpg' %}"
                ></image>
              </svg>
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title"  style="color:white">Vastrakriti Prathiyogitha</h2>
                  <p class="card__subtitle title"  style="color:white">Glam Voyage Prelims</p>
                </div>
                <div class="card__copy">
                  <h2 style="color:white">Fashion Competition Guidelines</h2>

                  <h2 style="color:white">Time Limit:</h2>
                  <p style="color:white">5 Minutes</p>

                  <h2 style="color:white">Background music Submission Deadline:</h2>
                  <p style="color:white">January 7th, 2024</p>

                  <h2 style="color:white">Background music Submission:</h2>
                  <p style="color:white">
                    Upload your team's audios on the Shore website, under the
                    PRELIMS section.
                  </p>

                  <h2 style="color:white">Guidelines:</h2>
                  <ol class="guide"  style="color:white;margin-left:40px;">
                    <li>
                      Designers are encouraged to incorporate garbage bags into
                      their outfit, showcasing creativity and resourcefulness.
                    </li>
                    <li>
                      Using any substance (or prop) that poses danger or might
                      alter the stage in any way for the next team is not
                      allowed (e.g., spilling of liquid that will affect the
                      dryness).
                    </li>
                    <li>
                      The teams will be expected to restore the stage to its
                      original condition within the set time limit in case any
                      prop or substance that causes temporary changes is used.
                    </li>
                    <li>Vulgarity is not allowed.</li>
                    <li>
                      Obscenity will be left to judges' discretion, and their
                      decision will be final and binding in case any part of the
                      performance is found objectionable.
                    </li>
                    <li>
                      Participants should provide a brief explanation of how
                      they meet the judging criteria during the preliminary
                      round.
                    </li>
                  </ol>
                  <h2  style="color:white">Judging Criteria:</h2>
                  <ol class="guide" style="color:white;margin-left:40px;">
                    <li>Theme Relevance.</li>
                    <li>Creativity and Innovation.</li>
                    <li>Execution of Design.</li>
                    <li>Creative utilization of waste materials.</li>
                    <li>Aesthetic - The visual appeal of the outfit.</li>
                    <li>
                      Prop Utilization - If props are used, their integration
                      into the performance without disrupting the overall flow.
                    </li>
                    <li>
                      A focus on maintaining originality in design will be
                      assessed during the preliminary round.
                    </li>
                    <li>
                      Quality of final product.
                    </li>
                  </ol>
                  <br />
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-glam"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-glam"
                      style="color:white;"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >I agree to the guidelines.
                    </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-glam" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Glamvoyage' %}"
                        type="button"
                        disabled
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath4">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath4)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/nukkad.jpg' %}"
                ></image>
              </svg>
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title" style="color:white;">NUKKAD NAATAK</h2>
                  <p class="card__subtitle title" style="color:white;">Nukkad Naatak Prelims</p>
                </div>
                <div class="card__copy" style="color:white;">
                  <h1 >Guidelines: </h1>

                  <h2 style="color:white;">Team Limit:</h2>
                  <p style="color:white;">6-15 members excluding 2 instrumentalists (optional)</p>

                  <h2 style="color:white;">Time Limit:</h2>
                  <p style="color:white;">10 minutes</p>

                  <h2 style="color:white;">Guidelines:</h2>
                  <ol class="guide" style="color:white;margin-left:40px">
                    <li>Usage of fire, water, or smoke is not allowed.</li>
                    <li>
                      Gulaal or any props, if used, must be cleared off by the
                      participants after their performance within the allotted
                      time.
                    </li>
                    <li>
                      Any instance of vulgarity or disturbing content of any
                      order will lead to a forceful halt of performance and
                      immediate disqualification.
                    </li>
                    <li>
                      Only live music is allowed. Teams will have to bring their
                      own instruments.
                    </li>
                  </ol>

                  <h2 style="color:white;">Judging Criteria:</h2>
                  <ol class="guide" style="color:white;margin-left:40px">
                    <li>Content, Theme, and Message.</li>
                    <li>Performance, Direction, and Gimmicks.</li>
                    <li>Interaction and Improvisation.</li>
                    <li>Space Utilization</li>
                  </ol>
                  <br />
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-nukkad"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-nukkad"
                      style="color:white;"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >I agree to the guidelines.
                    </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-nukkad" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Nukkadnatak' %}"
                        type="button"
                        disabled
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath5">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath5)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/debate.jpg' %}"
                ></image>
              </svg>
              <!-- Debate -->
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title" style="color:white;">Vaada Sangraaha</h2>
                  <p class="card__subtitle title" style="color:white;">Debate Prelims</p>
                </div>
                <div class="card__copy" style="color:white;">
                  <h2 class="" style="color:white;">Debate Competition Guidelines:</h2>

                  <h2 style="color:white;">Team Limit:</h2>
                  <p style="color:white;">4 to 6 people per team will be allowed</p>
                  <p style="color:white;">  5 min for opening statement and 5 for closing statement. A team will only get 10 more minutes on one go.</p>

                  <h2 style="color:white;">Guidelines:</h2>

                  <ol class="guide" style="color:white;margin-left:40px">
                    <li>The theme for the event will be announced directly at the venue.</li>
                    <li>
                      All teams will be given 10 minutes after the announcement to use any and all resources while being at the venue to search and find out the theme of the debate.
                    </li>
                    <li>
                      The debate will follow the general rules of the British Parliamentary Debate rules.
                    </li>
                  </ol>

                  <h2 style="color:white;">Judging Criteria:</h2>
                  <ol class="guide" start="7" style="color:white;margin-left:40px">
                    <li>Each team will be given a time limit of 2 minutes on turn.</li>
                    <li>Teams should engage in a fair and respectful debate.</li>
                    <li>Any vulgarity will not be tolerated and be disqualified.</li>
                    <li>Members of the opposing team may offer points of information (POIs) during the speech.</li>
                    <li>The teams will be judged based on fluency, negotiation skills and etiquette.</li>
                  </ol>
                  <br/>
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-debate"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-debate"
                      style="color:white;"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >I agree to the guidelines </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-debate" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Debate' %}"
                        type="button"
                        disabled 
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
		      <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath6">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath6)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/canvas.jpg' %}"
                ></image>
              </svg>
              <!-- canvas -->
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title" style="color:white;">Chitrakalaa </h2>
                  <p class="card__subtitle title" style="color:white;">Canvas Prelims</p>
                </div>
                <div class="card__copy">
                  <h2 class="" style="color:white;">Canvas Guidelines:</h2>

                  <h2 style="color:white;">Team Limit:</h2>
                  <p style="color:white;">Individual event</p>

                  <h2 style="color:white;">Time Limit:</h2>
                  <p style="color:white;">
                    2 hours
                  </p>

                  <h2 style="color:white;">Guidelines:</h2>

                  <ol class="guide" style="color:white;margin-left:40px">
                    <h2 style="color:white;">
                      Theme: The theme for the prelims will be announced on spot at the venue.
                    </h2>
                    <li>Each participant will have to get all the resources for their art projects on their end(including sheets to draw/paint)</li>
                    <li>
                      Participants will not be allowed to use any references during or after the announcement of the theme.
                    </li>
                    <li>
                      Minimum size of the canvas: 22 inches by 28 inches(Chart paper)
                    </li>
                    <li>
                      Participants can use any type of art styles and forms (No Limits)
                    </li>
                    <li>
                      Each participant will have to talk about their topics and describe it for about a minute.
                    </li>
                  </ol>

                  <h2 style="color:white;">Judging Criteria:</h2>
                  <ol class="guide" start="7" style="color:white;margin-left:40px">
                    <li>Participants will be judged based on their creativity and how their pieces adhere to the theme.</li>
                    <li>They will also be judged based on the presentation of their topics after the showcase.</li>
                    <li>Participants will be judged on the aesthetic of their events.</li>
                    <li>Any sense of vulgarity will not be tolerated, and the participants will be disqualified from the prelims</li>
                    <li>Final discretion will be held by the judges.</li>
                  </ol>
                  <br/>
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-canvas"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-canvas"
                      style="color:white;"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >I agree to the guidelines </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-canvas" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Canvas' %}"
                        type="button"
                        disabled 
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__container card__container--closed">
              <svg
                class="card__image"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 500"
                preserveAspectRatio="xMidYMid slice"
              >
                <defs>
                  <clipPath id="clipPath7">
                    <polygon
                      class="clip"
                      points="0,500 0,0 1920,0 1920,500"
                    ></polygon>
                  </clipPath>
                </defs>
                <image
                  clip-path="url(#clipPath7)"
                  width="1920"
                  height="500"
                  xlink:href="{% static 'img/masterchef.jpg' %}"
                ></image>
              </svg>
              <!-- canvas -->
              <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                  <h2 class="card__title title" style="color:white;">Paaka Prathiyogitha</h2>
                  <p class="card__subtitle title" style="color:white;">Cooking Prelims</p>
                </div>
                <div class="card__copy">
                  <h2 class="" style="color:white;">Master chef Guidelines:</h2>

                  <h2 style="color:white;">Team Limit:</h2>
                  <p style="color:white;">Individual event</p>

                  <h2 style="color:white;">Time Limit:</h2>
                  <p style="color:white;">
                    Each participant is to make a dish in under 1 hour.
                  </p>
                  <h2 style="color:white;">Guidelines:</h2>
                  <ol class="guide" style="color:white;margin-left: 40px;">
                    <li>Each participant will have to make a dish of their choice in the comfort of their preferred location.</li>
                    <li>
                      They will have to take a video of the entire process of them cooking, video does not have to be 1 hour long.
                    </li>
                    <li>
                      The committee will specify a certain ingredient which will have to be included in any form of their dish.
                    </li>
                    <li>
                      Regular food dishes are not encouraged.
                    </li>
                    <li>
                      All the ingredients and methods must be specified in a document or in the video itself.
                    </li>
                  </ol>

                  <h2 style="color:white;">Judging Criteria:</h2>
                  <ol class="guide" start="7" style="color:white;margin-left:40px;">
                    <li>Participants will be judged based on their efficiency, how they handle the work load.</li>
                    <li>They will also be judged on their hygiene and the dish preparation.</li>
                    <li>They will be assessed on their creativity, originality, and use of the specific ingredient in their dish.</li>
                    <li>The clarity of the video and the instructions that are provided by the participant will also be considered by the judging panel.</li>
                    <li>The final presentation will also play a major role in the assessments.</li>
                  </ol>
                  <br/>
                  <div class="flex items-center mb-4">
                    <input
                      class="checkbox-agree"
                      id="checkbox-masterchef"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="checkbox-masterchef"
                      style="color:white;"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >I agree to the guidelines </label>
                  </div>
                  <br />
                  <center>
                    <div class="registration-div" id="registration-div-masterchef" style="display: none;">
                      <a href="{% url 'prelimsregister' event_name='Masterchef' %}"
                        type="button"
                        disabled 
                        id="registerButton"
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                      >
                        Register
                      </a>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /cards -->
      </div>
      <!-- /content -->
    </div>
    <!-- /container -->
    <!-- JS -->
    <script>
      var checkboxDance = document.getElementById('checkbox-dance');
      var checkboxMusic = document.getElementById('checkbox-music');
      var checkboxGlam = document.getElementById('checkbox-glam');
      var checkboxNukkad = document.getElementById('checkbox-nukkad');
      var checkboxDebate = document.getElementById('checkbox-debate');
      var checkboxCanvas = document.getElementById('checkbox-canvas');
      var checkboxMasterchef = document.getElementById('checkbox-masterchef');

      var registrationDivDance = document.getElementById('registration-div-dance');
      var registrationDivMusic = document.getElementById('registration-div-music');
      var registrationDivGlam = document.getElementById('registration-div-glam');
      var registrationDivNukkad = document.getElementById('registration-div-nukkad');
      var registrationDivDebate = document.getElementById('registration-div-debate');
      var registrationDivCanvas = document.getElementById('registration-div-canvas');
      var registrationDivMasterchef = document.getElementById('registration-div-masterchef');

      checkboxDance.addEventListener('change', function () {
        if (checkboxDance.checked) {
          registrationDivDance.style.display = 'block';
        } else {
          registrationDivDance.style.display = 'none';
        }
      })

        checkboxMusic.addEventListener('change', function () {
        if (checkboxMusic.checked) {
          registrationDivMusic.style.display = 'block';
        } else {
          registrationDivMusic.style.display = 'none';
        }
      })

        checkboxGlam.addEventListener('change', function () {
        if (checkboxGlam.checked) {
          registrationDivGlam.style.display = 'block';
        } else {
          registrationDivGlam.style.display = 'none';
        }
      })

      checkboxNukkad.addEventListener('change', function () {
        if (checkboxNukkad.checked) {
          registrationDivNukkad.style.display = 'block';
        } else {
          registrationDivNukkad.style.display = 'none';
        }
      })

      checkboxDebate.addEventListener('change', function () {
        if (checkboxDebate.checked) {
          registrationDivDebate.style.display = 'block';
        } else {
          registrationDivDebate.style.display = 'none';
        }
      })

      checkboxCanvas.addEventListener('change', function () {
        if (checkboxCanvas.checked) {
          registrationDivCanvas.style.display = 'block';
        } else {
          registrationDivCanvas.style.display = 'none';
        }
      });

      checkboxMasterchef.addEventListener('change', function () {
        if (checkboxMasterchef.checked) {
          registrationDivMasterchef.style.display = 'block';
        } else {
          registrationDivMasterchef.style.display = 'none';
        }
      });

      function toggleRegistrationDiv(checkboxId, registrationDivId) {
    var checkbox = document.getElementById(checkboxId);
    var registrationDiv = document.getElementById(registrationDivId);

    // Check if the checkbox is checked
    if (checkbox.checked) {
      // Display the corresponding registration div
      registrationDiv.style.display = 'block';
    } else {
      // Hide the corresponding registration div
      registrationDiv.style.display = 'none';
    }
  }
    </script>
    <script src="{% static 'js/vendors/trianglify.min.js' %}"></script>
    <script src="{% static 'js/vendors/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/vendors/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'js/vendors/cash.min.js' %}"></script>
    <script src="{% static 'js/Card-polygon.js' %}"></script>
    <script src="{% static 'js/demo-3.js' %}"></script>
  </body>
</html>