@import url(https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Poppins:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital@1&display=swap);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap);
::-webkit-scrollbar {
  background-color: initial;
  width: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root,
body,
html {
  background-color: #020710;
}
body,
html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.cricket-video {
  height: 300px;
  object-fit: cover;
}
.cricket-video-mobile {
  height: 200px;
  object-fit: cover;
}
.Main {
  height: 100vh;
}
.Hero {
  position: relative;
  transition: 0.5s;
}
.Hero,
.bgvideo {
  height: 100vh;
  width: 100%;
}
.bgvideo {
  object-fit: cover;
}
.about-heading {
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 40px;
  height: 70px;
  left: 23px;
  padding: 10px;
  position: relative;
  top: 23px;
  width: 400px;
  z-index: 11;
}
.about-heading p {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.video-container {
  height: 100vh;
}
.about-desktop,
.video-container {
  position: relative;
  width: 100%;
}
.video-container video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.model {
  left: 4%;
  padding: 65px 65px 20px;
  text-align: justify;
  text-justify: inter-word;
  top: 10%;
  width: 45%;
}
.model,
.model-mobile {
  outline: 0;
  overflow: hidden;
  position: relative;
  z-index: 1050;
}
.model-mobile {
  padding: 20px 30px;
  top: 0;
}
.model-heading {
  font-family: Poppins, sans-serif;
  font-size: 55px;
  top: -25px;
}
.model-heading,
.model-heading-mobile {
  font-weight: 700;
  outline: 0;
  overflow: hidden;
  position: relative;
  z-index: 1050;
}
.model-heading-mobile {
  color: #e9e9e9;
  font-size: 53px;
  line-height: 55px;
}
.model-desc {
  font-weight: 500;
}
.model-desc,
.team-desc {
  color: #e9e9e9;
  font-size: 19px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.team-desc {
  font-weight: 450;
}
.date-mobile {
  font-size: 20px;
  font-weight: 600;
}
.date-desktop,
.date-mobile {
  font-family: Poppins, sans-serif;
}
.date-desktop {
  font-size: 30px;
  font-weight: 700;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .model {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #02071052;
  }
  .model-mobile {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: #0207108f;
  }
}
.question {
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 500;
}
.answer {
  font-size: 18px;
  font-weight: 400;
}
.answer,
.heading p {
  color: #fff;
  font-family: Poppins, sans-serif;
}
.heading p {
  font-size: 45px;
  font-weight: 700;
}
.heading .faq {
  justify-content: right;
}
.footer-heading {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 100;
  justify-content: center;
  text-align: center;
}
.footer-link {
  width: 100px;
}
.footer-addr,
.footer-link {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.footer-addr {
  justify-content: center;
  text-align: center;
}
.footer-addr-contact {
  font-size: 20px;
  font-weight: 600;
}
.circle-container {
  height: 685px;
  margin-right: 170px;
  position: relative;
  width: 1000px;
}
.theme {
  color: #e9e9e9;
  font-size: 20px;
  text-justify: inter-word;
}
.circle-container div {
  display: block;
  left: 40%;
  margin: -10px;
  position: absolute;
  top: 45%;
  width: 185px;
}
.circle-container img {
  display: block;
  width: 100%;
}
.deg45 {
  -webkit-transform: rotate(45deg) translate(220px) rotate(-45deg);
  transform: rotate(45deg) translate(220px) rotate(-45deg);
}
.deg135 {
  -webkit-transform: rotate(135deg) translate(220px) rotate(-135deg);
  transform: rotate(135deg) translate(220px) rotate(-135deg);
}
.deg225 {
  -webkit-transform: rotate(199deg) translate(220px) rotate(-199deg);
  transform: rotate(199deg) translate(220px) rotate(-199deg);
}
.deg270 {
  -webkit-transform: rotate(270deg) translate(220px) rotate(90deg);
  transform: rotate(270deg) translate(220px) rotate(90deg);
}
.deg315 {
  -webkit-transform: rotate(340deg) translate(220px) rotate(-340deg);
  transform: rotate(340deg) translate(220px) rotate(-340deg);
}
@media screen and (max-width: 1300px) {
  .circle-container div {
    width: 160px;
  }
  .deg45 {
    -webkit-transform: rotate(45deg) translate(190px) rotate(-45deg);
    transform: rotate(45deg) translate(190px) rotate(-45deg);
  }
  .deg135 {
    -webkit-transform: rotate(135deg) translate(190px) rotate(-135deg);
    transform: rotate(135deg) translate(190px) rotate(-135deg);
  }
  .deg225 {
    -webkit-transform: rotate(199deg) translate(190px) rotate(-199deg);
    transform: rotate(199deg) translate(190px) rotate(-199deg);
  }
  .deg270 {
    -webkit-transform: rotate(270deg) translate(190px) rotate(90deg);
    transform: rotate(270deg) translate(190px) rotate(90deg);
  }
  .deg315 {
    -webkit-transform: rotate(340deg) translate(190px) rotate(-340deg);
    transform: rotate(340deg) translate(190px) rotate(-340deg);
  }
}
@media screen and (max-width: 1100px) {
  .circle-container div {
    width: 130px;
  }
  .deg45 {
    -webkit-transform: rotate(45deg) translate(185px) rotate(-45deg);
    transform: rotate(45deg) translate(185px) rotate(-45deg);
  }
  .deg135 {
    -webkit-transform: rotate(135deg) translate(185px) rotate(-135deg);
    transform: rotate(135deg) translate(185px) rotate(-135deg);
  }
  .deg225 {
    -webkit-transform: rotate(199deg) translate(185px) rotate(-199deg);
    transform: rotate(199deg) translate(185px) rotate(-199deg);
  }
  .deg270 {
    -webkit-transform: rotate(270deg) translate(185px) rotate(90deg);
    transform: rotate(270deg) translate(185px) rotate(90deg);
  }
  .deg315 {
    -webkit-transform: rotate(340deg) translate(185px) rotate(-340deg);
    transform: rotate(340deg) translate(185px) rotate(-340deg);
  }
}
.circle-container-mobile img {
  width: 160px;
}
.img1 {
  padding-top: 90px;
}
.img2 {
  padding-bottom: 90px;
}
.glow-on-hover {
  background-color: #02071052;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  padding: 10px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
.glow-on-hover:before {
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  background: linear-gradient(
    45deg,
    red,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    red
  );
  background-size: 400%;
  border-radius: 10px;
  content: "";
  -webkit-filter: blur(5px);
  filter: blur(5px);
  height: calc(100% + 4px);
  left: -2px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: opacity 0.3s ease-in-out;
  width: calc(100% + 4px);
  z-index: -1;
}
.glow-on-hover:active {
  background: #020710;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  background-color: #02071052;
  border-radius: 10px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  to {
    background-position: 0 0;
  }
}
.schedule,
.schedule-mobile {
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.schedule-mobile {
  background-color: #fff;
  border: 2px #fff;
  border-radius: 10px;
}
.box {
  margin-bottom: 5px;
}
.button-text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  border-radius: var(--borderWidth);
  position: relative;
}
.gradient-border:after {
  -webkit-animation: animatedgradient 1s ease infinite alternate;
  animation: animatedgradient 1s ease infinite alternate;
}
body {
  background-color: #020710 !important;
}
p {
  color: #fff;
}
.close_team {
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 7%;
  top: 2.5%;
  z-index: 105;
}
.navigation-desktop {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
}
.navigation-links-desktop {
  align-items: center;
  border: 2px solid #fff;
  border-left: #020710;
  border-radius: 0 10px 10px 0;
  color: #fff;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3% 0 0;
  max-width: 15%;
  position: fixed;
  width: 15%;
  z-index: 1;
}
.navigation-links-desktop a {
  color: #fff;
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
  padding: 15px 6px;
  text-align: center;
  text-decoration: none;
}
.navigation-links-desktop a:first-child {
  border-top-right-radius: 9px;
}
.navigation-links-desktop a:last-child {
  border-bottom-right-radius: 9px;
  margin-bottom: 0;
}
.navigation-links-desktop {
  cursor: pointer;
}
.active-parent {
  font-weight: 700;
}
.inactive {
  font-family: Poppins, sans-serif;
  font-weight: 100;
}
.profile_section {
  display: flex;
  flex-basis: 0 0 33.333333%;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
}
.profiles {
  flex-grow: 1;
  justify-content: center;
  margin-top: 10px;
  max-width: 83%;
  text-align: center;
  width: 83%;
  z-index: 100;
}
.profile_detail,
.profiles {
  display: flex;
  flex-direction: column;
}
.profile_detail {
  height: 300px;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 300px;
}
.profile_detail img {
  border: 3px solid #000;
  border-radius: 50%;
  height: 175px;
  object-fit: cover;
  width: 175px;
}
.heading_title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}
.spacer {
  max-width: 15%;
  width: 15%;
}
.wrapper {
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
.profile_detail p {
  line-height: 10px;
}
.bg {
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  background: linear-gradient(
    90deg,
    #ff8038,
    #f09 30.43%,
    #00ebeb 68.23%,
    #db00ff
  );
  background-size: 600% 600%;
  border-radius: 50%;
  height: 179px;
  left: 62.5px;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  transition: -webkit-filter 1s ease-in;
  transition: filter 1s ease-in;
  transition: filter 1s ease-in, -webkit-filter 1s ease-in;
  width: 179px;
  z-index: -1;
}
.wrapper:hover .bg {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transition: -webkit-filter 0.4s ease-in;
  transition: filter 0.4s ease-in;
  transition: filter 0.4s ease-in, -webkit-filter 0.4s ease-in;
}
@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes AnimateBorder {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
.navigation-mobile {
  background-color: #020710;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 30px;
  width: 100vw;
}
.navigation-mobile .profiles {
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  position: absolute;
  top: 60px;
  width: 100vw;
}
.check {
  size: 15px;
  cursor: pointer;
  display: block;
  left: 7%;
  position: fixed;
  top: 3%;
  z-index: 200;
}
.navigation-links-mobile a {
  color: #fff;
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 15px 6px;
  text-align: center;
  text-decoration: none;
}
.navigation-links-mobile {
  background-color: #020710;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  cursor: pointer;
  left: 0;
  margin-top: 60px;
  transition: all 0.3s ease-in-out;
  width: 100vw;
  z-index: 100;
}
.active {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.title,
.title p {
  display: flex;
  justify-content: center;
}
.title p {
  font-family: Bitter, serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.name {
  font-size: 20px;
  font-weight: 600;
}
.profile-shore {
  margin-top: 15%;
}
.heading {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
.heading,
.options {
  justify-content: center;
}
.options {
  width: 100%;
}
.carousel-div {
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100vw;
}
.carousel-div2 {
  border-radius: 10px;
  margin-top: 20px;
  width: 92.5vw;
}
.events-name {
  font-size: 20px;
  font-weight: 700;
}
.events-sponser {
  color: #fff;
  font-weight: 500;
  margin-left: 5px;
  text-align: left;
}
.sponser-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
.sponser-type {
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
}
.type-desktop {
  font-size: 20px;
}
.type-mobile {
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .type-desktop {
    font-size: 18px;
  }
}
.cococola {
  margin-left: -15px;
}
.tab,
.type {
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 12px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.tabselect,
.typeselect {
  border-bottom: 3px solid #3c79f5;
}
.type {
  height: 40px;
  width: 170px;
}
.border-wrapper {
  background: linear-gradient(90deg, red, purple);
  border-radius: 5px;
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px;
  position: relative;
}
.module {
  background: #222;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.gradient-border-box {
  --borderWidth: 3px;
  background: #1d1f20;
  border-radius: var(--borderWidth);
  position: relative;
}
.gradient-border:after {
  -webkit-animation: animatedgradient 3s ease infinite alternate;
  animation: animatedgradient 3s ease infinite alternate;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  border-radius: calc(var(--borderWidth) * 2);
  content: "";
  height: calc(100% + var(--borderWidth) * 2);
  left: calc(var(--borderWidth) * -1);
  position: absolute;
  top: calc(var(--borderWidth) * -1);
  width: calc(100% + var(--borderWidth) * 2);
  z-index: -1;
}
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
.video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.video-container-desktop {
  height: 100vh;
  position: relative;
  width: 100%;
}
.video-container-mobile {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: 100%;
}
.modal {
  outline: 0;
  overflow: hidden;
  position: relative;
  z-index: 1050;
}
.modal-desktop {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 4%;
  padding: 45px 65px;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  top: 8%;
  width: 45%;
}
@media screen and (max-width: 1530px) {
  .modal-desktop {
    width: 55%;
  }
}
@media screen and (max-width: 1320px) {
  .modal-desktop {
    width: 65%;
  }
}
@media screen and (max-width: 1120px) {
  .modal-desktop {
    width: 75%;
  }
}
@media screen and (max-width: 960px) {
  .modal-desktop {
    width: 90%;
  }
}
.modal-mobile {
  padding: 20px 30px;
  position: relative;
  text-align: left;
  width: 100%;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    background-color: #02071052;
  }
  .modal-mobile {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    background-color: #0207108f;
  }
}
.heading {
  color: #e9e9e9;
  font-family: Poppins, sans-serif;
  outline: 0;
  overflow: hidden;
  position: relative;
}
.heading-mobile {
  font-size: 53px;
  font-weight: 700;
  line-height: 55px;
  margin: 10px 0 20px;
}
.heading-desktop {
  font-size: 55px;
  font-weight: 700;
}
.modal-desc,
.modal-desc-mobile {
  color: #e9e9e9;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}
.dates {
  color: #e9e9e9;
  display: "flex";
  margin-bottom: 30px;
}
.dates-mobile {
  font-size: 20px;
  font-weight: 500;
}
.dates-desktop,
.dates-mobile {
  font-family: Poppins, sans-serif;
}
.dates-desktop {
  font-size: 30px;
  font-weight: 600;
}
.box {
  align-items: center;
  background: linear(to-l, #7928ca, #ff0080);
  color: #fff;
  display: flex;
  font-family: Raleway;
  font-size: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.title {
  font-family: Unbounded, cursive;
  font-size: 32px;
  font-weight: 500;
}
.match-name {
  font-size: 22px;
}
.match-desc,
.match-name {
  font-family: Unbounded, cursive;
  font-weight: 590;
}
.match-desc {
  font-size: 14.5px;
}
.title-mobile {
  font-family: Unbounded, cursive;
  font-size: 25px;
  font-weight: 500;
}
.match-name-mobile {
  font-size: 19px;
}
.match-desc-mobile,
.match-name-mobile {
  font-family: Unbounded, cursive;
  font-weight: 590;
}
.match-desc-mobile {
  font-size: 12px;
}
/*# sourceMappingURL=main.df046913.css.map*/
