{% extends 'events_base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block head %}
<style>
    .title {
        font-size: 30px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        text-align: center;

    }

    .form-title {
        font-size: 20px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        margin-bottom: 1rem;

    }

    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
</style>
{% endblock %} 

{% block body %}
{% include 'sports_navbar.html' %}
{% include 'messages.html' %}
<div class="h-screen flex items-center justify-center">
    <div style="height: 40rem"
        class="overflow-y-scroll container mx-auto max-w-2xl p-6 border border-gray-200 rounded-lg shadow-lg">
        <h1 class="text-center title font-bold mb-5">
            Registration for {{ sport.name }}
        </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="teamname" class="block mb-2 text-sm font-medium text-gray-900 ">Team
                        Name</label>
                    <input type="text" name="team_name" id="teamname"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        placeholder="Enter team name" required />
                </div>
                <div>
                    <label for="college" class="block mb-2 text-sm font-medium text-gray-900">
                        College</label>
                    <input id="college" type="text" id="college" name="college"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        disabled value="{{ college.name }}">
                </div>
            </div>
            <!-- Player 1 -->
            <h1 class="form-title">Participant 1 ({% if sport.event_type == 'sports' %}Captain{% else %}Lead{% endif %})</h1>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
                    <input type="text" id="name" name="name_1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter name" required />
                </div>
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">
                        Contact Number</label>
                    <input type="number" id="phone" name="phone_1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter phone number" required />
                </div>
            </div>
            <div class="mb-6">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email ID</label>
                    <input type="email" id="email" name="email_1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter email" required />
                </div>
            </div>
            <h3 id="player1_accomdation" class="mb-4 font-semibold text-gray-900">Do you need accomodattion?</h3>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div class="flex items-center ps-4 border border-gray-200 rounded">
                    <input id="bordered-radio-1" type="radio" value="yes" name="accomodation_1" required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Yes</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded">
                    <input id="bordered-radio-2" type="radio" value="no" name="accomodation_1" required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">No</label>
                </div>
            </div>

            <!-- Other players -->
            {% for i in team_size %}
            <h1 class="form-title">Participant {{ i }}</h1>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
                    <input type="text" id="name" name="name_{{ i }}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter name" required />
                </div>
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Contact
                        Number</label>
                    <input type="number" id="phone" name="phone_{{ i }}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter phone number" required />
                </div>
            </div>
            <div class="mb-6">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email ID</label>
                    <input type="email" id="email" name="email_{{ i }}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter email" required />
                </div>
            </div>
            <h3 id="player1_accomdation" class="mb-4 font-semibold text-gray-900">Do you need accomodation?</h3>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div class="flex items-center ps-4 border border-gray-200 rounded">
                    <input id="bordered-radio-1" type="radio" value="yes" name="accomodation_{{ i }}" required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Yes</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded">
                    <input id="bordered-radio-2" type="radio" value="no" name="accomodation_{{ i }}" required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">No</label>
                </div>
            </div>
            {% endfor %}

            <div id="additionalPlayers"></div>
            <button type="button" onclick="addPlayer()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                Add Participant
            </button>
            <div class="py-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="endorsment_file">Upload Endorsment
                file</label>
            <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="endorsment_file" name="endorsment_file" type="file" required>
            </div>
            <br>
              <div class="max-w-xl mx-auto">
                <div class="bg-white p-6 rounded-md shadow-md mb-4">
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <input id="link-checkbox-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="link-checkbox-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        I, hereby acknowledge and agree that I am attending Shore Fest'24 at GITAM (Deemed to be University), Visakhapatnam, from 2nd February 2024 to 4th February 2024. I understand and expressly acknowledge that GITAM University, its representatives, or organizers of Shore Fest'24 are not responsible for any untoward incident, injury, loss, or damage that may occur to me during my time on the premises or while participating in the event.
                    </label>
                    </div>
                    <div class="checkbox-indicator"></div>
                  </div>
                </div>
              
                <div class="bg-white p-6 rounded-md shadow-md mb-4">
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <input id="link-checkbox-2" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="link-checkbox-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        I agree that I am responsible for my own safety, well-being, and belongings during the event, and I will take necessary precautions to ensure my personal safety and security. In the circumstance of my act in violation of rules and regulations and and any damage or injury caused to me due to my violation, I release GITAM University, its officers, employees, and event organizers from any liability, claims, or demands for personal injury, loss, or damage to personal property that may arise during my attendance at Shore Fest'24. By attending Shore Fest'24 at GITAM University, I hereby acknowledge that I have read and understood and agreed to the regulations and agree voluntarily to the terms and conditions set by GITAM(Deemed to be University) and by Shore Fest24 committee.
                    </label>
                    </div>
                    <div class="checkbox-indicator"></div>
                  </div>
                </div>
              
                <div class="text-center" id="submit-button" style="display: none;">
                  <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Register
                  </button>
                </div>
              </div>
            </form>
        </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var checkbox1 = document.getElementById('link-checkbox-1');
                var checkbox2 = document.getElementById('link-checkbox-2');
                var submitButton = document.getElementById('submit-button');
            
                function updateSubmitButton() {
                  if (checkbox1.checked && checkbox2.checked) {
                    submitButton.style.display = 'block';
                  } else {
                    submitButton.style.display = 'none';
                  }
                }
            
                checkbox1.addEventListener('change', updateSubmitButton);
                checkbox2.addEventListener('change', updateSubmitButton);
              });
              
            let minParticipants = {{ sport.min_team_size }};
            let participantCount = {{ sport.min_team_size }};
            let maxParticipants = {{ sport.max_team_size }};
    function addPlayer() {
        const container = document.getElementById("additionalPlayers");

        if (participantCount < maxParticipants) {
            participantCount++;
            const playerDiv = document.createElement("div");
            playerDiv.classList.add("player-section", "mb-6");

            const playerTitle = document.createElement("h1");
            playerTitle.classList.add("form-title");
            playerTitle.textContent = `Participant ${participantCount}`;

            const nameDiv = document.createElement("div");
            nameDiv.classList.add("grid", "gap-6", "mb-6", "md:grid-cols-2");
            nameDiv.innerHTML = `
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">
                    Name
                </label>
                <input name="name_${participantCount}" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter name" required />
            </div>
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">
                    Contact Number
                </label>
                <input type="number" name="phone_${participantCount}" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter phone number" required />
            </div>
        `;

            const contactDiv = document.createElement("div");
            contactDiv.classList.add("mb-6");
            contactDiv.innerHTML = `
            <div>
                    <label for="email"
                        class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                    <input type="email" id="email" name="email_${participantCount}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Enter email" required />
                </div>
        `;
            const accomDiv = document.createElement("div");
            accomDiv.classList.add("mb-6");
            accomDiv.innerHTML = `
            <h3 id="player1_accomdation" class="mb-4 font-semibold text-gray-900">Do you need accomodation?</h3>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div class="flex items-center ps-4 border border-gray-200 rounded">
                        <input id="bordered-radio-1" type="radio" value="yes" name="accomodation_${participantCount}" required
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="bordered-radio-1"
                            class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Yes</label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded">
                        <input id="bordered-radio-2" type="radio" value="no" name="accomodation_${participantCount}" required
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="bordered-radio-2"
                            class="w-full py-4 ms-2 text-sm font-medium text-gray-900">No</label>
                    </div>
                </div>
        `;


            const removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.classList.add(
                "text-white",
                "bg-gradient-to-r",
                "from-red-400",
                "via-red-500",
                "to-red-600",
                "hover:bg-gradient-to-br",
                "focus:ring-4",
                "focus:outline-none",
                "focus:ring-red-300",
                "dark:focus:ring-red-800",
                "font-medium",
                "rounded-lg",
                "text-sm",
                "px-5",
                "py-2.5",
                "text-center",
                "me-2",
                "mb-2"
            );
            removeButton.textContent = "Remove Player";
            removeButton.onclick = function () {
                container.removeChild(playerDiv);
                updatePlayerTitles();
                participantCount--;
            };

            playerDiv.appendChild(playerTitle);
            playerDiv.appendChild(nameDiv);
            playerDiv.appendChild(contactDiv);
            playerDiv.appendChild(accomDiv);
            playerDiv.appendChild(removeButton);

            container.appendChild(playerDiv);
            updatePlayerTitles();
        } else {
            alert(`Maximum number of players reached (${maxParticipants})`);
            return;
        }
    }

    function updatePlayerTitles() {
        const container = document.getElementById("additionalPlayers");
        const playerSections = container.querySelectorAll(".player-section");

        playerSections.forEach((player, index) => {
            const title = player.querySelector(".form-title");
            title.textContent = `Participant ${index + minParticipants + 1}`;
        });

        const nameInputs = container.querySelectorAll('[id^="name"]');
        const emailInputs = container.querySelectorAll('[id^="email"]');
        const phoneInputs = container.querySelectorAll('[id^="phone"]');
        const campusInputs = container.querySelectorAll('[id^="bordered-radio-1"]');
        const campusInputs2 = container.querySelectorAll('[id^="bordered-radio-2"]');

        nameInputs.forEach((input, index) => {
            input.name = `name_${index + minParticipants + 1}`;
        });

        emailInputs.forEach((input, index) => {
            input.name = `email_${index + minParticipants + 1}`;
        });

        phoneInputs.forEach((input, index) => {
            input.name = `phone_${index + minParticipants + 1}`;
        });
        campusInputs.forEach((input, index) => {
            input.name = `accomodation_${index + minParticipants + 1}`;
        });
    }

</script>
{% endblock %}