{% extends 'events_base.html' %}
{% load static %}
{% block title %}
Success
{% endblock title %}
{% block body %}
{% include 'sports_navbar.html' %}
{% include 'messages.html' %}

<div class="min-h-screen flex items-center justify-center">
    <div
      class="mt-5 flex flex-col w-full max-w-5xl p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h2
        class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Team Name : {{ team.visible_name }}
      </h2>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
        <div class="flex-1 p-4">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            College Name: {{ team.college.name }}
          </h5>
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Event Name: {{ team.sport.name }}
          </h5>
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Registered Date: {{ team.registered_at.date }}
          </h5>
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Registered Time: {{ team.registered_at.time }}
          </h5>
        </div>
        <div class="flex-1 p-4">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Waitlisted: {% if team.isWaiting %} Yes {% else %} No {% endif %}
          </h5>
          <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white whitespace-nowrap">
            Status: {% if team.status == "pending" %}
              <span class="inline-block bg-yellow-300 text-black px-2 py-1 rounded-2xl font-medium text-lg">Under Review</span>
            {% elif team.status == "approved" %}
              <span class="inline-block bg-green-400 text-white px-2 py-1 rounded-2xl font-medium text-lg">Team Approved</span>
            {% elif team.status == "eligible_for_payment" %}
              <span class="inline-block bg-blue-500 text-white px-2 py-1 rounded-2xl font-medium text-lg">Eligible to Pay</span>
            {% elif team.status == "rejected" %}
              <span class="inline-block bg-red-500 text-white px-2 py-1 rounded-2xl font-medium text-lg">Team Rejected</span>
            {% else %}
              {{ team.status }}
            {% endif %}
          </h5>
          <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white whitespace-nowrap">
            Sample NOC: <a class="text-blue-600" href="https://shore.gitam.edu/home/ubuntuserver/Shore24/media/guidelines/NOC.pdf">Click to View</a>
          </h5>      
        </div>
      </div>
      <h5
        class="ml-4 mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Registered Participants
      </h5>
      <div class="flex-1 overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Participant Name</th>
              <th scope="col" class="px-6 py-3">Email</th>
              <th scope="col" class="px-6 py-3">Contact Number</th>
              {% if not team.isWaiting %}
              {% if team.status == 'eligible_for_payment' or team.status == 'approved' %}
                <th scope="col" class="px-6 py-3">Payment Status</th>
              {% endif %}
              {% endif %}
              <th scope="col" class="px-6 py-3">NOC</th>
              <th scope="col" class="px-6 py-3">College or University</th>
              <th scope="col" class="px-6 py-3">Captain</th>
              
            </tr>
          </thead>
          <tbody>
            {% for player in players %}
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ player.name }}
              </th>
              <td class="px-6 py-4">{{ player.email }}</td>
              <td class="px-6 py-4">{{ player.phone_number }}</td>
              {% if not team.isWaiting %}
              {% if team.status == 'eligible_for_payment' or team.status == 'approved' %}
                <td class="px-6 py-4">
                  {% if player.isPaid %}
                  <span
                  
                    class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                    >Paid</span
                  >
                  {% elif not player.isPaid %}
                  <a href="https://gevents.gitam.edu/registration/MjU1?rid={{ player.shoreid }}&type=student">
                    <button
                    style="margin-inline-end: -3em;"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-1.5 py-2.5 text-center me-2 mb-2"
                    >
                      Click to Pay
                    </button>
                  </a>
                  {% endif %}
                </td>
              {% endif %}
              {% endif %}
              {% if not player.nocFile %}
              <td class="px-6 py-4">
                <a href="https://shore.gitam.edu/hospitality/upload_NOC/">
                  <button
                  style="margin-inline-end: -3em;"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-1.5 py-2.5 text-center me-2 mb-2"
                  >
                    Upload NOC
                  </button>
                </a>
              </td>
              {% endif %}
              <td class="px-6 py-4">{{ player.college.name }}</td>
              <td class="px-6 py-4">
                {% if player.isCaptain %} Yes {% else %} No {% endif %}
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div
          class="mt-8 p-6 bg-gray-100 dark:bg-gray-800 border-t border-gray-300 dark:border-gray-700"
        >
          <h5
            class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Notes:
          </h5>
          <ul class="list-disc pl-8 text-gray-700 dark:text-gray-400">
            <li>We will update status of payment and NOC upload with in 24hrs, dont worry if you have already done payment and upload NOC</li>
            <li>Any queries, please contact us at<b> <a href="mailto:shore_tech@gitam.in">shore_tech@gitam.in</a></b></li>
          </ul>
        </div>
    </div>
  </div>

{% endblock %}