{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GITAM University</title>

    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for alignment -->
    <style>
        .align-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row mt-3">
        <!-- Logo on the top left -->
        <div class="col-12 col-md-2">
            <img src="https://www.gitam.edu/themes/custom/gitam/logo.png" alt="Logo" class="img-fluid">
        </div>
        <!-- Two columns layout -->
        <div class="col-12 col-md-10">
            <div class="row">
                <!-- Left column with vertically and horizontally aligned text -->
                <div class="col-12 col-md-5 align-center">
                    <h5 class="text-center fw-bold" style="margin-top:50px">
                        Welcoming {{ name }} to
                        <span style="color: red;">Shore 24</span>
                    </h5>
                    <br>
                    {% if request.user.coordinator %}
                    <a href="{% url 'coretasks' 'coordinator' %}">
                        <button type="button" class="btn btn-danger">Co-ordinator</button>
                    </a>
                    <br>
                    {% endif %}
                    {% if request.user.president %}
                    <a href="{% url 'coretasks' 'president' %}">
                        <button type="button" class="btn btn-danger">President</button>
                    </a>
                    <br>
                    <a href="{% url 'teams:view_application' %}">
                        <button type="button" class="btn btn-danger">Shore Team</button>
                    </a>
                    <br>
                    {% endif %}
                    {% if request.user.vice_president %}
                        <a href="{% url 'coretasks' 'vice_president' %}">
                            <button type="button" class="btn btn-danger">Vice President</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}

                    {% if request.user.technology %}
                        <a href="{% url 'coretasks' 'technology' %}">
                            <button type="button" class="btn btn-danger">Head of Technology</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}

                    {% if request.user.events_cultural %}
                        <a href="{% url 'coretasks' 'events_cultural' %}">
                            <button type="button" class="btn btn-danger">Head of Events Cultural</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}

                    {% if request.user.events_sports %}
                        <a href="{% url 'coretasks' 'events_sports' %}">
                            <button type="button" class="btn btn-danger">Head of Events Sports</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}

                    {% if request.user.legal %}
                        <a href="{% url 'coretasks' 'legal' %}">
                            <button type="button" class="btn btn-danger">Head of Legal and documentation</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %} 
                    {% if request.user.operations %}
                        <a href="{% url 'coretasks' 'operations' %}">
                            <button type="button" class="btn btn-danger">Head of Operations</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.marketing %}
                        <a href="{% url 'coretasks' 'marketing' %}">
                            <button type="button" class="btn btn-danger">Head of Marketing</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.sponsorship %}
                        <a href="{% url 'coretasks' 'sponsorship' %}">
                            <button type="button" class="btn btn-danger">Head of Sponsorship</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.design %}
                        <a href="{% url 'coretasks' 'design' %}">
                            <button type="button" class="btn btn-danger">Head of Design & Content</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.finance %}
                        <a href="{% url 'coretasks' 'finance' %}">
                            <button type="button" class="btn btn-danger">Head of Finance</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.media %}
                        <a href="{% url 'coretasks' 'media' %}">
                            <button type="button" class="btn btn-danger">Head of Media</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.security %}
                        <a href="{% url 'coretasks' 'security' %}">
                            <button type="button" class="btn btn-danger">Head of Security</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.hospitality %}
                        <a href="{% url 'coretasks' 'hospitality' %}">
                            <button type="button" class="btn btn-danger">Head of Hospitality</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %}  

                    {% if request.user.advisory %}
                        <a href="{% url 'coretasks' 'advisory' %}">
                            <button type="button" class="btn btn-danger">Advisory</button>
                        </a>
                        <br>
                        <a href="{% url 'teams:view_application' %}">
                            <button type="button" class="btn btn-danger">Shore Team</button>
                        </a>
                        <br>
                    {% endif %} 
                    {% if ishospitality %} 
                    <br> 
                    <a href="{% url 'hospitality:home' %}">
                        <button type="button" class="btn btn-danger">Hospitality</button>
                    </a>
                    {% endif %}
                    {% if issecurity %} 
                    <br> 
                    <a href="{% url 'securityhome' %}">
                        <button type="button" class="btn btn-danger">Security</button>
                    </a>
                    {% endif %}
                    <br>
                    <a href="{% url 'passhome' %}">
                        <button type="button" class="btn btn-danger"> click to get Fest Pass</button>
                    </a>
                    <br>
                    <div class="barcode">
                        <img
                            src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ request.user.email }}"
                            alt="QR code"
                        />
                    </div>
                    <br>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-danger">Logout</button>
                    </a>
                    <br>
                </div>
                <!-- Right column with an image -->
                <div class="col-12 col-md-7">
                    <img src="{% static 'logo.png' %}" alt="Image" class="img-fluid" style="height:100%">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS (Optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
