{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shore Core Team</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'shore_24_clogo.png'%}">
</head>
<body>
    <div id="parent-component">
        <div class="menubar">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                <header id="sidebar-title">Menu</header>
                <a href="#" class="active">
                    <i class="fas fa-qrcode"></i>
                    <span>Dashboard</span>
                </a>
                {% if request.user.president %}
                <a href="{% url 'coretasks' 'president' %}">
                    <span>President</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president %}
                <a href="{% url 'coretasks' 'vice_president' %}">
                    <span>Vice president</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.technology %}
                <a href="{% url 'coretasks' 'technology' %}">
                    <span>TECHNOLOGY</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.operations %}
                <a href="{% url 'coretasks' 'operations' %}">
                    <span>Operations</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.events_cultural %}
                <a href="{% url 'coretasks' 'events-cultural' %}">
                    <span>Events clutural</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.events_sports %}
                <a href="{% url 'coretasks' 'events-sports' %}">
                    <span>Event Sports</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.marketing %}
                <a href="{% url 'coretasks' 'marketing' %}">
                    <span>Marketing</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.sponsorship %}
                <a href="{% url 'coretasks' 'sponsorship' %}">
                    <span>Sponsorship</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.legal %}
                <a href="{% url 'coretasks' 'legal' %}">
                    <span>Legal</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.design %}
                <a href="{% url 'coretasks' 'design' %}">
                    <span>Design&content</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.finance %}
                <a href="{% url 'coretasks' 'finance' %}">
                    <span>Finance</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.media %}
                <a href="{% url 'coretasks' 'media' %}">
                    <span>Media</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.security %}
                <a href="{% url 'coretasks' 'security' %}">
                    <span>security</span>
                </a>
                {% endif %}
                {% if request.user.president or request.user.vice_president or request.user.hospitality %}
                <a href="{% url 'coretasks' 'hospitality' %}">
                    <span>Hospitality</span>
                </a>
                {% endif %}
            </div>
            <div id="main-title">SHORE 24</div>
            <div id="user-login">
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"><i class = "material-icons" id="user-icon">person</i></button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#">Home</a>
                      <a href="#">About</a>
                      <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
            <div id="wrapper-text">
                {% if domain  == 'president' %}
                President
                {% elif  domain == 'vice_president' %}
                Vice President
                {% elif domain  == 'technology' %}
                Technology
                {% elif  domain  == 'operations' %}
                Operations
                {% elif  domain  == 'events-cultural' %}
                Events Cultural
                {% elif domain  == 'events-sports' %}
                Events Sports
                {% elif domain  == 'marketing' %}
                Marketing
                {% elif domain  == 'sponsorship' %}
                Sponsorship
                {% elif  domain == 'legal' %}
                Legal and documentation
                {% elif  domain  == 'design' %}
                Design and Content
                {% elif  domain  == 'finance' %}
                Finance
                {% elif domain  == 'media' %}
                Media
                {% elif domain  == 'security' %}
                Security
                {% elif  domain  == 'hospitality' %}
                Hospitality
                {% endif %}
            </div>
            <a href="{% url 'createtask' domain_name=domain %}">
            <button type="button" class="btn btn-success" id="add-task">Create Task</button>
            </a>
        <div class="child-two"> 
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="name">Task_title</th>
                        <th class="name">Priority</th>
                        <th class="name">Due_date</th>
                        <th class="name">Status</th>
                        <th class="name">Created_at</th>
                        <th class="name">Updated_at</th>
                        <th class="name">Assigned_to</th>
                        <th class="name">Assigned_by</th>
                        <th class="name">View</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.task_title }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>{{ task.updated_at }}</td>
                        <td>{{ task.assigned_to }}</td>
                        <td>{{ task.assigned_by }}</td>
                        <td>
                            <a href="#">
                                <button type="button" class="btn btn-success">View</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'dashboard.js' %}"></script>
</html>