@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans:wght@200;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans:wght@600;800&display=swap');

* {
    background-color: black;
}

#home-img {
    height: 40px;
    width: 40px;
    position: absolute;
}

.bi-house-door-fill {
    font-size: 1.8rem;
    color: white !important;
    margin-left: 1rem;
    position: absolute;
    display: flex;
    top: 1.2rem;
}

#a {
    margin-right: -2rem;
}

#title {
    color: aliceblue;
    font-weight: bold;
    font-size: 1.9rem;
    padding: 1rem;
}

#cococola-title {
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
}

.cococola-sponsor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.sponsor-title {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.sponsor {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    align-items: center;
}

.about-sponsor {
    color: white;
    width: 50rem;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    text-align: justify;
    align-items: center;

}

.about-sponsor-left {
    color: white;
    display: flex;
    width: 20rem;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

.about-sponsor-right {
    color: white;
    display: flex;
    width: 20rem;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

#sponsor-2 {
    width: 400px;
}

#sponsor-3 {
    width: 250px;
}

#sponsor-6 {
    width: 250px;
}

@media screen and (min-width: 1500px) {
    .sponsor {
        margin: 10rem;
    }

    .about-sponsor-right,
    .about-sponsor-left {
        font-size: 1.5rem;
        width: 35rem;
    }

    .about-sponsor {
        font-size: 1.5rem;
        width: 50rem;
    }

    #a {
        margin-right: 0rem;
    }

    .bi-house-door-fill {
        font-size: 2rem;
    }
}

@media screen and (max-width: 770px) {
    .sponsor {
        margin: 1rem;
    }

    #sponsor-2 {
        width: 270px;
    }

    #sponsor-3 {
        width: 150px;
    }

    #cococola-title,
    .sponsor-title {
        font-size: 1rem;
    }

    .about-sponsor-right,
    .about-sponsor-left {
        font-size: 0.8rem;
    }

    .about-sponsor {
        width: 30rem;
        font-size: 0.8rem;
    }

    #a {
        margin-right: 0rem;
    }

}

@media screen and (max-width: 500px) {
    #title {
        font-size: 1.3rem;
    }

    .bi-house-door-fill {
        font-size: 1rem !important;
        margin-top: 0.5rem !important;
    }

    .sponsor {
        margin: 3rem;
        display: flex;
        flex-direction: column;
    }

    #new {
        display: flex;
        flex-direction: column-reverse;
    }

    #new-title {
        margin-top: 1rem;
    }

    #sponsor-1 {
        width: 250px;
    }

    #sponsor-3,
    #sponsor-6 {
        margin-bottom: 1rem;
    }

    #sponsor-4 {
        margin-top: 2rem;
    }

    #sponsor-5 {
        margin-top: 2rem;
    }

    .box {
        text-align: justify;
    }

    .sponsor-title {
        text-align: center;
        font-size: 1.3rem;
    }

    #cococola-title {
        font-size: 1rem;
    }

    .about-sponsor {
        width: 21rem;
    }

    .bi-house-door-fill {
        color: aliceblue;
        font-size: 1.5rem;
    }
}