<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://cdn.rawgit.com/cozmo/jsQR/master/dist/jsQR.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-md5"></script>
</head>
<body>
<div>
    {% include 'securitybase.html' %}
    {% include 'messages.html' %}
    <h3 style="
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  " class="font-sans text-center text-xl font-bold">
Scan QR Code
</h3>

<div class="text-center mt-5">
    <h3 class="text-md bg-blue-500 text-white font-bold py-2 px-4 rounded-full inline-block">Fest Pass COKE Scanner</h3>
</div>
<h2 class="text-sm font-bold text-center mt-4">Scanning By : <span class="font-semibold">{{ request.user.first_name }}</span> </h2>
    <div class="flex items-center justify-center mt-8">
        
    <div id="preview-container" class="m-4">
        <video id="camera" width="100%" height="30%" playsinline autoplay></video>
        <canvas id="preview-canvas" style="display:none;"></canvas>
    </div>
    
    <div style="margin-bottom:5rem">

    </div>
</div>
<div id="result" class="text-center"></div>
<center>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="qrhash" id="qrhash" required hidden>
        <input type="submit" id="submit_qr" name="submit" value="submit" disabled 
        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
    </form>
</center>

<div class="text-center m-2">
    <h1 class="font-bold text-sm">Users Inside: {{ insidecount }}</h1>
    <h1 class="font-bold text-sm">Users Outside: {{ outsidecount }}</h1>

    {% if cokecount %}
    <h1 class="font-bold text-sm">Coke Count: {{ cokecount }}</h1>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const video = document.getElementById('camera');
        const previewCanvas = document.getElementById('preview-canvas');
        const resultDiv = document.getElementById('result');

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
                .then(stream => {
                    video.srcObject = stream;
                    video.addEventListener('loadedmetadata', () => {
                        previewCanvas.width = video.videoWidth;
                        previewCanvas.height = video.videoHeight;
                        scanQRCode();
                    });
                })
                .catch(error => alert('Error accessing camera:', error));
        } else {
            alert('getUserMedia is not supported');
        }

        function scanQRCode() {
            const context = previewCanvas.getContext('2d');
            const qrHashInput = document.getElementById('qrhash');
            const submitButton = document.getElementById('submit_qr');

            function scan() {
                context.drawImage(video, 0, 0, previewCanvas.width, previewCanvas.height);
                const imageData = context.getImageData(0, 0, previewCanvas.width, previewCanvas.height);
                const code = jsQR(imageData.data, imageData.width, imageData.height);

                if (code) {
                    qrHashInput.value = code.data;
                    submitButton.disabled = false;
                    
                }

                requestAnimationFrame(scan);
            }

            // Start the scanning loop
            scan();
        }
    });
</script>
</body>
</html>
